[2016-03-12 11:45] ptrv commented on #274
Unfortunately I have no experience with running `emacs-ycmd` on Windows, but the `README` has an entry for windows.

Can you try specifying the server command something like this:

[code]

[2016-03-12 11:56] ptrv commented on #95
@akirakyle The thing is that in `irony-mode` the code for the server is part of the package and gets downloaded alongside the package when installing with `package.el` through `MELPA`. This makes it easier to to build it from within the package. The `ycmd` server is a different repo and needs to be checked out and we need more tools to build it (like git). I don't see much benefit over the effort

[2016-03-12 15:49] asdyjd commented on #274
I figured out this problem.
(set 'ycmd-global-config "D:/emacs/ycmd/ycmd/default_settings.json")
(set 'ycmd-server-command '("python" "-u" "d:/emacs/ycmd/ycmd"))
The python is python2 instead of python3!
And the options_file is default_settings.json!

[2016-03-12 16:10] ptrv commented on #274
I am glad you could set the correct `ycmd-server-command`.

The `ycmd-global-config` is **not** `default_settings.json`. It is a python file like the `.ycm_extra_config.py` you can find in the `ycmd` project.

[2016-03-12 16:10] #274 closed

[2016-03-12 16:14] ptrv commented on #218
Since this is not an `emacs-ycmd` issue, I close it.

[2016-03-12 16:14] #218 closed

[2016-03-13 08:00] r4nt commented on #201
It looks like the referenced fix was rolled back? Can we perhaps implement a shutdown command in ycmd that can be sent via the rpc interface?

[2016-03-13 12:30] ptrv commented on #201
@r4nt The roll back has been fixed again with 00fa90b55e420be7095a2ed1a16aa50d0a2029b3. We use `interrupt-process` which sends an `SIGINT` to the server.

[2016-03-14 08:29] abingham commented on #201
@ptrv Is it time to merge in your [PR for using the new shutdown API?](https://github.com/abingham/emacs-ycmd/pull/251)

[2016-03-14 08:37] abingham commented on #95
Like @ptrv, I think there's a lot of inherent difficulty in building the ycmd client on behalf of ycmd. We need to grab the code, find the right python version, ask about a number of build options (e.g. different completers), and manage all of this on several platforms. Right now it just feels easier to ask users to follow the ycmd instructions.

With that said, the [ycmd project page indicates th

[2016-03-14 09:36] ptrv commented on #201
@abingham The upstream PR is still not merged, so we'll still have to wait.

[2016-03-14 11:10] ptrv commented on #95
I checked the other [listed clients](https://github.com/Valloric/ycmd#known-ycmd-clients). It doesn't look like the clients build themselves. There is always a link to the YCM build instruction. Even with the original vim YCM plugin you have to build the server separately.

[2016-03-14 11:10] r4nt commented on #201
So, I still have users reporting huge /tmp residues. I'm wondering whether we hit the timeout after interrupt-process...

[2016-03-14 11:14] abingham commented on #95
OK, thanks for checking that.

I say that we close this. If someone wants to put in the effort to create functions which can compile the ycmd server, then of course we should consider them. But that doesn't seem like a good focus for this project.

Perhaps ycmd will eventually have installers and so forth that will *really* simplify the installation process.

[2016-03-14 11:19] ptrv commented on #95
:+1:

[2016-03-14 11:22] #95 closed

[2016-03-14 11:35] abingham commented on #201
Do you mean, is it possible that `interrupt-process` is somehow preventing the ycmd server from doing idle suicide? I suppose that's possible, but I suppose we'd need to really dig into what all is happening.

My first guess would be that we're not giving ycmd enough time to clean up after calling interrupt in some cases. When we call `interrupt-process`, we also optionally wait some amount of tim

[2016-03-14 11:43] ptrv commented on #201
@abingham Do we even create the the logfiles? We are not passing any filepaths for `stdout` or `stderr` to the server at start.

[2016-03-14 11:47] abingham commented on #201
@ptrv I figure they're configuring their logging through `ycmd-server-args`, if that's what you mean.

[2016-03-14 11:58] ptrv commented on #201
We also have the option `keep_logfiles` by default. Isn't that causing the logfiles not being deleted?

[2016-03-14 12:03] abingham commented on #201
Good catch...that's probably not helping! We should make that configurable, I think. Do you know if the command-line argument `--keep_logfile` overrides the setting in `ycmd--options-contents`? (I'm not able to really test anything out in my current working environment...)

[2016-03-14 12:06] abingham commented on #201
@r4nt I've created [a branch that lets you specify the delete-process delay for ycmd-open.](https://github.com/abingham/emacs-ycmd/tree/open-delete-process-delay) You can test it out of you want; just customize the `ycmd-open-delete-process-delay` setting.

My guess, however, is that @ptrv is onto something more relevant, i.e. that we explicitly tell ycmd to keep its logfiles, both through the opt

[2016-03-14 14:27] r4nt commented on #201
Note that in our case the problem is not log files - we have a ycm_extra_config for our site that copies the right version of libclang into YCM's /tmp directory.

[2016-03-14 14:42] abingham commented on #201
In that case I think the branch I mentioned earlier might be the thing to try. Assuming that the problem is us not giving ycmd sufficient time (0.5 seconds) to shut down, that branch should let you try different timeouts.

[2016-03-15 11:13] r4nt commented on #201
Should just using eval-buffer on ycm.el downloaded form the branch (after I loaded a different version) and setting the timeout work? Because exiting via C-x-c still instant-exits without any cleanups.

[2016-03-15 11:35] ptrv commented on #201
The thing is, that the timeout is only applied when you restart the server from within emacs, i.e. when you close and quickly after that you start the server. Only in that case we need to wait for the server to finish. With calling `ycmd-close` there is only an `interrupt-process` call.

On closing emacs the `ycmd-close` function is called from `kill-emacs-hook` without any timeout and therefore o

[2016-03-15 11:43] ptrv commented on #201
Also I only saw code in `ycmd` to remove the logfiles on SIGTERM or SIGINT. Can someone give me a hint where the code is to remove `ycm_temp`?

Here https://github.com/Valloric/ycmd/blob/master/ycmd/__main__.py#L59-L80 only logfiles are deleted.

[2016-03-15 12:42] Yevgnen opened #275 "requests.exceptions.HTTPError: 401 Client Error: Unauthorized for url: http://127.0.0.1:59454/completions"
I built ycmd with python3 and use it for python3 completion in emacs. But I got some thing like the following in the *ycmd-server* buffer. I don't know whether this is related to [https://github.com/Valloric/ycmd/issues/113](https://github.com/Valloric/ycmd/issues/113).

    2016-03-15 20:37:27,888 - DEBUG - Global extra conf not loaded or no function YcmCorePreload
    serving on http://127.0.0.1

[2016-03-15 12:50] abingham commented on #275
Interesting. On first glance, it looks like the failure is not communication between `emacs-ycmd` and `ycmd`, but rather that between `ycmd` and `jedi`. The `ycmd` server is listening on 59482 while the 401 is happening from 59485. That would explain why you're not seeing Python completions!

I would check with the `ycmd` project first. It's possible that `emacs-ycmd` is doing something wrong, but

[2016-03-15 13:09] r4nt commented on #201
Yep, if I call ycmd-close without exiting, cleanup is happening.

[2016-03-15 14:06] ptrv commented on #201
Ok, then we need to investigate why the cleanup is not happening when `ycmd-close` is called with `kill-emacs-hook`

[2016-03-15 15:56] ptrv commented on #201
I removed the --keep_logfiles flag from the server command and the cleanup worked just fine when exiting Emacs.

@r4nt Can you provide some reproduction steps for the issue or the global config which copies over files to the temp folder? Otherwise I don't know how to debug and track down the issue.

[2016-03-15 17:29] Valloric commented on #201
Note that the cleanup @r4nt is talking about is related to the custom cleanup function that the user can register through `ycm_extra_conf.py`. If the extra conf file has a `Shutdown()` function, ycmd calls it when shutting down. If there's a `YcmCorePreload()` function, it's called on ycmd startup.

[2016-03-15 17:31] ptrv commented on #201
@Valloric Thanks for the hint. I haven't use `Shutdown()` or `YcmCorePreload()` function yet. Will check them with emacs shutdown.

[2016-03-15 19:54] r4nt commented on #201
So, should the timeout be active on shutdown? (that is, could it be a timeout issue due to ycmd taking too long to shut down, and the kill then happening while it's still trying to clean up? or is that a red herring?)

[2016-03-16 00:19] ptrv commented on #201
Ok, the problem is that we use `start-process` to run the `ycmd` process asynchronously but when exiting Emacs the `ycmd` child process gets killed. We added `ycmd-close` to `kill-emacs-hook` but Emacs does not wait for `ycmd` to shut down.

I guess we need to have the process to stay alive even after Emacs gets killed. With `start-process` this does not work. There is the command `(call-process P

[2016-03-16 01:24] Yevgnen commented on #275
@abingham Thanks for you reply! I just didn't notice that they're using different ports! I'm waiting for your news :)

[2016-03-16 08:25] abingham commented on #201
Could this be related to a [bug in emacs](https://lists.gnu.org/archive/html/bug-gnu-emacs/2015-11/msg00960.html).

[2016-03-16 08:36] abingham commented on #275
Do you mean you're waiting for me to do something? If so, then I think there was a miscommunication :) I don't plan on doing anything more with this issue since I think it's probably a `ycmd` issue. You should follow up with the `ycmd` project to see what they have to say.

[2016-03-16 08:40] Yevgnen commented on #275
Aha, I'll check the `ycmd` first :)

[2016-03-16 09:07] r4nt opened #276 "Add equivalent of ycm_min_num_of_chars_for_completion option"
The vim config has this option, emacs users would like it, too.

[2016-03-16 09:52] ptrv commented on #201
@abingham I tried the example from the bug report bug report and added `(setq kill-emacs-hook '((lambda () (sit-for 4))))` and I terminated emacs and Emacs waited the 4 seconds before it quit.

So maybe it is enough to call `ycmd-close` with a timeout in the `kill-emacs-hook`.

Also we could try to use a sentinel and the wait until the process notifies us that it is terminated.

[2016-03-16 10:28] abingham commented on #276
Can this be managed through the use of variables like `company-minimum-prefix-length`?

[2016-03-16 10:34] abingham commented on #201
It seems like we'll need a timeout no matter how we approach it. That is, we have to be prepared for the possibility that the server doesn't die for whatever reason. A sentinel doesn't seem to provide any improved functionality over the simple timeout you mentioned, so I think we should try the timeout first.

[2016-03-16 10:56] ptrv commented on #201
I'll look into it

[2016-03-16 11:10] r4nt commented on #276
Nope, even when I set it to 0, I have to type 2 chars.

[2016-03-16 11:34] ptrv commented on #276
If we add an defcustom for `ycm_min_num_of_chars_for_completion` we probably need to sync it somehow with the second argument of `company-grab-symbol-cons` in `company-ycmd--prefix`

[2016-03-16 14:35] abingham commented on #276
Are those really related? I'll admit I'm a bit fuzzy on the protocol details, but it looks like that second argument is concerned with how far back company looks for the start RE. (What company does with the cons cell is where I haven't done any exploration).

I'm a bit puzzled that `company-minimum-prefix-length` doesn't "Just Work". Shouldn't it directly address @r4nt's concerns?

[2016-03-16 15:04] ptrv commented on #201
The culprit was `unwind-protect`. Somehow emacs did not wait for the process to finish with it.

I remove it and now it works. See #277

[2016-03-16 15:10] ptrv commented on #276
@abingham Yes, you're right. The second argument of `company-grab-symbol-cons` is only for the amount of characters to look back.

If we set `company-minimum-prefix-length` to 0 there is still no completion because `ycmd` needs 2 characters to return completion candidates.

I guess if we add an option to set `ycm_min_num_of_chars_for_completion` we need also sync `company-minimum-prefix-length`.

[2016-03-16 17:14] Valloric commented on #201
No need to handle this case; ycmd already handles it internally. It has a watchdog plugin that kills the server after X hours of inactivity (configurable in ycmd options).

Nobody likes zombie processes. :)

[2016-03-17 07:30] #276 closed

[2016-03-17 07:32] abingham commented on #276
@r4nt: I just merged in [@ptrv's patch](https://github.com/abingham/emacs-ycmd/pull/278) that should address your issue. Give it a shot and let us know how it goes.

[2016-03-17 23:52] akirakyle commented on #95
Thanks for the clarification! This definitely makes sense, and I think part of my confusion when I first attempted to get `emacs-ycmd` up and running came from the fact that [the build section of the ycmd project page](https://github.com/Valloric/ycmd#building) does seem to imply that `emacs-ycmd` should have been building at setting up ycmd for me. As @ptrv mentioned, it doesn't look like any of

[2016-03-18 14:58] ptrv opened #280 "Run unit tests with multiple Emacs versions on travis-ci"
Since we want to support `emacs-ycmd` to run with Emacs 24.x we need to run the unit tests also with older version, not only with latest release.

[2016-03-18 14:59] ptrv commented on #280
@abingham See https://travis-ci.org/ptrv/emacs-ycmd/jobs/116920493 :smile:

[2016-03-18 15:01] #280 closed

[2016-03-18 15:03] ptrv commented on #280
The tests show I need to remove `advice-add` in `ymcd-eldoc` and use the old `defadvice` because it's not supported with Emacs 24.3

[2016-03-18 15:04] ptrv opened #281 "Exchange `advice-add` with `defadvice` in `ycmd-eldoc"
`advice-add` is not supported in at least Emacs 24.3.

[2016-03-18 16:30] ptrv commented on #281
Fixed with bcbc985cdd8330ebd42421de2f390b1aa1c12e21

[2016-03-18 16:30] #281 closed

[2016-03-21 11:16] #275 closed

[2016-03-21 11:28] Yevgnen opened #286 "Error when set `ycmd-force-semantic-completion` to `t`."
Hi,

I use virtualenv in my project and I set `ycmd-python-binary-path` to the python I wish to use in my project. Even that I found ycmd will not complete symbols that in classes I wrote. So I set `ycmd-force-semantic-completion` to `t` and ycmd now give me candidates that I expected. But the following error happen quite often and was displayed in the minibuffer. Even though the completion is not

[2016-03-21 14:02] ptrv commented on #286
From first sight it looks like the issue is in `company-mode` but it is probably that `company-ycmd` is using some bad values.

Since I cannot reproduce the issue, could you post some reproduction steps?

Regarding `ycmd-eldoc`, I guess it should have an own recipe and not part of the `emacs-ycmd` one, like `company-ycmd` or `flycheck-ycmd`

[2016-03-21 14:30] Yevgnen commented on #286
I'm trying to find out what' going on and find the reproduction steps... May I ask a question ? Is it possible to let ycmd launch different python servers for each virtualenv project ?

[2016-03-21 14:37] ptrv commented on #286
Great!

Right now it is not possible to launch multiple servers at the same time.

[2016-03-21 15:25] Yevgnen commented on #286
Now I find something odd.

I take some minimal configs for test.

    (require 'package)

    (setq package-archives '(("marmalade" . "http://marmalade-repo.org/packages/")
                             ("gnu" . "http://elpa.gnu.org/packages/")
                             ("melpa" . "https://melpa.org/packages/")
                             ("org" . "http://orgmode.org/elpa/")))

    (package-ini

[2016-03-21 15:34] Yevgnen commented on #286
By the way, the `python` build-in module(sys, path etc.) seems not have this issue. I don't know why.

[2016-03-21 15:37] ptrv commented on #286
Thanks for you investigations. I'll try to do the reproduction steps myself as soon as I have time.

I have already seen a similar error to this already but could not reproduce:

[code]

[2016-03-21 23:31] ptrv commented on #286
I could reproduce this error:

[code]

with `company-tooltip-align-annotations` set to `t`,the following code (cursor at '|') and invoking semantic completion:

[code]
comment-string-strip
The problem is that some of the text we put in the annotation have some new lines in it. The `company--create-lines` function is called when creating the tooltip and it does some cleaning of the annotation strin

[2016-03-22 00:21] ptrv commented on #286
Ok, I did some investigation on the `deferred error : (args-out-of-range "" 0 -3)` error.

This happens when the point in buffer when the get completions request gets sent differs from the point in buffer when response comes back from server, i.e. after a completion is invoked you type some characters and then the prefix does not match anymore. This can happen more often if you have `company-idle-

[2016-03-22 00:21] Yevgnen commented on #286
You find it! That's cool! I tried the workaround, the

    Company: frontend company-pseudo-tooltip-unless-just-one-frontend error "Wrong type argument: arrayp, nil" on command post-command

error seemed disappeared. But this time I find that, with `company-tooltip-align-annotations` set to `t`, a large value(eg, 1) of `company-idle-delay` will cause things like

    deferred error : (args-out-of-

[2016-03-22 00:40] Yevgnen commented on #286
Thanks for your investigation! Now things seem to go well! The `deferred error` may happened more likely when a new package is being `import`, but after that things seem fine.

[2016-03-27 05:56] akirakyle opened #289 "Error completing in non ycmd-file-type-map files"
Hi,
So I was trying to get completion working for files that are not in `ycmd-file-type-map` so that I could still use just the identifier based completer even for languages where there is no semantic completion (the substring match and ranking is so much better than just using `dabbrev`). I got this working by doing, for example for fortran, `(add-to-list 'ycmd-file-type-map '(f90-mode "fortran")

[2016-03-28 11:09] ptrv commented on #289
As I understood we don't need to provide a filetype for non semantic completion filetype. If a filetype is not in the map, we set them to 'generic' in the ycmd request and identifier completion should just work. About the error I don't know exactly how to deal with, maybe we need to provide an additional flag to the ycmd request or maybe we need to just catch the error to not show up in the minibu

[2016-03-28 13:53] asdyjd opened #290 "No JSON object could be decoded"
I have compiled ycmd.But there is an error when running.

asdyjd@yujinding:~/.emacs.d/ycmd$ python ycmd --options_file /home/asdyjd/.emacs.d/YouCompleteMe/third_party/ycmd/cpp/ycm/.ycm_extra_conf.py
Traceback (most recent call last):
  File "/usr/lib/python2.7/runpy.py", line 162, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "/usr/lib/python2.7/runpy.py", line 72, in _run

[2016-03-29 01:00] frank0512 commented on #274
你这问题解决了吗?

[2016-03-29 05:18] asdyjd commented on #274
WINDOWS下的解决了,但是现在LINUX下的有问题.

[2016-03-29 05:59] abingham commented on #290
This is a problem with [ycmd itself](https://github.com/valloric/ycmd), not the emacs clilent. I think it's a problem with python 2 vs. python 3.

[2016-03-29 06:28] abingham commented on #289
I think @ptrv's analysis is correct. If you use the string "generic" rather than "fortran" in your call to `add-to-list`, does everything work as expected (i.e. without the error)? This might be the simplest solution.

Regarding the error message output: I think we should not try to hide it. That error output could come in very handy if e.g. we misspell something in `ycmd-file-type-map`. My fear i

[2016-03-29 13:57] micbou commented on #290
This is not an issue with ycmd. @asdyjd is trying to start ycmd by passing a `.ycm_extra_conf.py` file to the `--options_file` parameter. That's not how it works. emacs-ycmd should take care of that, probably by setting the `ycmd-server-command` variable:
[code]

[2016-03-29 20:14] asdyjd commented on #290
But emacs tell me "ycmd--start-server: ERROR: Ycmd server timeout"

(set 'ycmd-global-config "~/.emacs.d/ycmd/cpp/ycm.ycm_extra_conf.py")
(set 'ycmd-server-command '("python" "/path/to/ycmd/package"))

[2016-03-30 06:33] abingham commented on #290
@asdyjd Can you post the contents of the `*ycmd-server*` buffer when you see this error? That will help us sort this out.

[2016-03-30 10:21] ptrv commented on #290
It looks like the ycmd-server command is not set properly. Notice the path to ycmd.

[2016-03-31 00:11] asdyjd commented on #290
Now I set the variables as this:
(set 'ycmd-global-config "/home/asdyjd/.emacs.d/ycmd/cpp/ycm/.ycm_extra_conf.py")
(set 'ycmd-server-command '("python" "/home/asdyjd/.emacs.d/ycmd/ycmd"))
(add-hook 'after-init-hook 'global-ycmd-mode)

The emacs tell me:
Loading /home/asdyjd/.emacs.d/layers/+tools/ycmd/packages.el (source)...
YCMD won't work unless you set the ycmd-server-command variable to the pa

[2016-03-31 09:54] abingham commented on #290
Is it not working for you? The server appears to be running now.

[2016-04-01 01:42] frank0512 commented on #274
嗯 我windows 和MAC的都解决了...

[2016-04-02 07:33] RanTaimu opened #291 "Cannot Complete C++ Standard Lib's Function and Other"
Such as ‘vector’ ‘scanf’ ‘printf’.

And when I open a '.cpp' file which include a '.h' file, it cannot aware of functions definded in '.h' file at first. Only after I access to the '.h' file and back to '.cpp' file, the completion worked.

Am I missing some configuration steps?

OS: Ubuntu 14.04 LTS on VMWare Virtualbox
Emacs Version: 24.5.1 with spacemacs

*ycmd-server* buffer:
[code]
my part of

[2016-04-03 12:24] abingham commented on #291
Can you post the contents of your `*ycmd-server*` buffer? It sounds like maybe you're just getting identifier-based completion, not actual C++-aware completion.

[2016-04-04 15:01] RanTaimu commented on #291
@abingham
Thanks to reply me!
I've updated the ycmd-server buffer's contents and posted part of my .spacemacs.

[2016-04-05 07:02] abingham commented on #291
What is your value for `ycmd-extra-conf-handler`?

[2016-04-05 10:57] RanTaimu commented on #291
@abingham
It's the default value 'ask

*** Welcome to IELM ***  Type (describe-mode) for help.
ELISP> (prin1 ycmd-extra-conf-handler)
ask
ask
ELISP>

[2016-04-05 11:04] abingham commented on #291
Are you sure you've got an "extra conf" file that the ycmd server is loading which tells it how to compile your stuff? If ycmd can't compile your code, then it can't figure out non-identifier completions for it.

[2016-04-05 11:37] RanTaimu commented on #291
@abingham
I use the 'YCM_Generator' to get the 'extra conf' file, and it seems to run normally :

**~/Desktop/TestEmacs/build$ ~/Software/YCM-Generator/config_gen.py ~/Desktop/TestEmacs/
Running cmake in '/tmp/tmpyGs4ns'...
$ cmake /home/rt/Desktop/TestEmacs

Running make...
$ make -i -j2

Cleaning up...

Build completed in 1.48 sec

Collected 0 relevant entries for C compilation (0 discarded).
Co

[2016-04-05 12:00] abingham commented on #291
Is emacs asking you about loading your extra conf? And if so, are you saying yes?

[2016-04-05 12:24] RanTaimu commented on #291
@abingham

Yes; Yes
When the 'ycmd-extra-conf-handler' is 'ask, there do has an ask and I said yes.
Then I change the value to 'load.

AND, the syntax checking works very well......

[2016-04-05 13:40] abingham commented on #291
I have to admit that I'm not sure what's going on. Based on the server output you posted, it looks like the server is at least trying to compile the code in main.cpp. If that file doesn't compile then that might explain what you're seeing.

[2016-04-05 14:08] RanTaimu commented on #291
@abingham
OK... I think I should write a much simple program to figure out the problem...
Thank you all the same !

[2016-04-05 14:57] RanTaimu commented on #291
@abingham

Oh.... I write a project from scratch, and this time the functions of ycmd worked !!

But there still a problem: even though I added "using namespace std;" ycmd still cannot complete 'vector' 'cout' 'endl' etc. But when I added the prefix  'std::', the completion appeared. Is that normal ?

[2016-04-05 19:32] ptrv commented on #291
@RanTaimu It is normal. C++-aware completion is only available after a semantic trigger like '.', '->' or '::'. If there is no preceding semantic trigger you only get identifier-based completion. However you can force c++-aware completion without semantic trigger by calling ycmd-force-semantic-completion. This can be slow for large projects.

[2016-04-06 01:19] RanTaimu commented on #291
@ptrv
OK. Thanks for your guidance !

[2016-04-06 01:20] #291 closed

[2016-04-10 09:39] ptrv commented on #286
I guess this is fixed now. Closing it. @Yevgnen reopen if the problem still exists.

[2016-04-10 09:39] #286 closed

[2016-04-11 12:02] r4nt commented on #201
Note: I can still get this to leave a temp dir around when I start emacs opening a .cc file, and immediately close it again (this is with a ycm-extra-config that needs some time in YcmCorePreload).

[2016-04-11 13:58] ptrv commented on #201
How long does executing `YcmCorePreload` function take?

We have now a variable `ycmd-delete-process-delay`, which is the time for the server to wait until we kill the process. It is set to 3 seconds. Maybe the time is just too short.

I did a small test with `time.sleep` calls in `YcmCorePreload` and in `Shutdown` with a higher time amount than the `ycmd-delete-process-delay` and I could reproduc

[2016-04-13 04:03] zwb-ict opened #293 "cl--assertion-failed: Assertion failed: (or (= (buffer-size tar-data-buffer) (buffer-size)) (eq tar-data-swapped (> (buffer-size tar-data-buffer) (buffer-size))))"
I'm on OSX emacs gnu 25.1.50.1, when I run
[code]
I got error:

[code]

[2016-04-13 06:13] abingham commented on #293
I googled your error message and saw [this](https://github.com/syl20bnr/spacemacs/issues/4385). It sounds like you've got some networking/firewall problem associated with packages.

In particular, this might help:

[2016-04-13 06:58] zwb-ict commented on #293
@abingham Thanks a lot. This sloved my problem.

[2016-04-13 06:58] #293 closed

[2016-04-22 09:08] ptrv opened #294 "Switch back to upstream request lib?"
Since https://github.com/tkf/emacs-request gets updates again and also MELPA has changed back to it again, should we switch back and get rid of `third-party`?

[2016-04-23 08:57] ptrv commented on #294
See #295

[2016-04-23 08:58] #294 closed

[2016-04-23 23:14] ptrv opened #297 "Issue with upstream request not getting response on error"
I noticed that with upstream request we get no response data when the server
returns an error. In my case it was a `UnknownExtraConf` exception that was not
caught with our exception handler. I looked at the differences of upstream
`request` and `ycmd-request` and found one line which causes this problem. In
`request.el` in the `request--callback` function in line
[648](https://github.com/tkf/emac

[2016-04-24 04:27] abingham commented on #297
I think you're right about the code; they should remove that `unless` in the upstream request.el. We should go back to using our own version of request until they make that change.

I'll see about submitting a patch to the upstream request.el.

[2016-04-24 04:38] abingham commented on #297
@ptrv Actually, I'm in a somewhat delicate position regarding my fork of emacs-request. My fork was the official MELPA version for a while so that we could make some pending patches available to the world. But now it seems tkf/emacs-request has diverged pretty significantly from my fork, and submitting patches from mine to his might be difficult/confusing. I'd delete my fork and just restart it, b

[2016-04-24 07:45] ptrv commented on #297
@abingham I did a diff between you're fork and tks's version and the changes seem prettey small. Only defustom clean-up and adding a socket parameter for the curl part of emacs-request, which does not affect how we use  it.

I'll propose the change and try to explain.

I revert the change until they merge the "fix"

[2016-04-24 08:03] ptrv commented on #297
I've submitted the PR: https://github.com/tkf/emacs-request/pull/44

[2016-04-25 06:25] abingham commented on #297
Excellent, thanks!

[2016-04-25 08:23] ptrv commented on #297
The PR in upstream `emacs-request` has been merged. I'll test it for a bit by using it though, before we get rid of `ycmd-request` again.

[2016-04-25 17:37] ptrv commented on #297
Ok, seems that using upstream request is fine now. I revert the reverted commit.

[2016-04-25 17:37] #297 closed

[2016-04-30 19:14] dvzubarev opened #299 "Issue with ycmd-eldoc installation"
Hi
I'm trying to install ycmd-eldoc on spacemacs in my private layer.
I'm using this code:
[code]

 and getting error messages

[code]

Is it a right way to install this package or there is better approach?

System Info
    OS: gnu/linux
    Emacs: 24.5.1
    Spacemacs: 0.105.19

[2016-05-01 11:53] abingham commented on #299
The `Error getting PACKAGE-DESC: (end-of-file /home/denin/.emacs.d/init.el)` part makes it sound like there's an error in your `init.el` somewhere.

[2016-05-01 11:53] #299 closed

[2016-05-01 12:43] ptrv commented on #299
@dvzubarev Poabably related: https://github.com/syl20bnr/spacemacs/issues/2688

[2016-05-01 14:29] Sn0rt opened #300 "Process ycmd-server exited abnormally with code 2"
error message is
[code]
my .spacemacs follow:
[code]

[code]

[2016-05-01 19:04] abingham commented on #300
Does it work if you use python3 instead of 2? There have been some growing pains in ycmd lately with python2 vs. python3.

[2016-05-02 02:21] Sn0rt commented on #300
I reinstall spacemacs and ycmd

python2

[code]

python3

[code]

[2016-05-02 06:36] abingham commented on #300
It doesn't seem like spacemacs, emacs, or emacs-ycmd is the problem here, so you shouldn't need to mess with those. The problem lies with how you've built or installed ycmd.

You should first ensure that ycmd can run at all, e.g. from the command line. If that doesn't work, then there's nothing that emacs-ycmd can do to help you.

[2016-05-02 09:50] Sn0rt commented on #300
what's command can run ycmd in Terminal ?

[2016-05-02 09:58] ptrv commented on #300
It looks like you compiled `ycmd` with system `libclang` and it is not matching with the `libclang` version needed to run `ycmd` (version 3.8)?

Please recompile ycmd using the libclang version shipped with `ycmd`

See here: https://bbs.archlinux.org/viewtopic.php?id=211069

[2016-05-02 10:00] ptrv commented on #300
As @abingham already wrote this is not an issue with spacemacs, Emacs or emacs-ycmd.

[2016-05-02 10:00] #300 closed

[2016-05-02 10:20] abingham commented on #300
@Sn0rt Regarding how to run ycmd on the command line, it's usually something like `python /some/path/top_of_ycmd_repo/ycmd <arguments>`. In your case you were trying `python2 /home/guowang/workspace/ycmd/ycmd`.

Note, though, that this will generally fail with an error since the server looks for a special temporary file (which it immediately deletes). But if your environment is OK then the failure

[2016-05-02 10:23] Sn0rt commented on #300
@abingham Thanks

[2016-05-04 14:00] jiegec opened #302 "ycmd-eldoc.el not included in the melpa recipe."
See https://github.com/melpa/melpa/blob/master/recipes/ycmd.

No auto-complete-ycmd either.

[2016-05-04 15:18] ptrv commented on #302
That is by intention. The recipe contains only main `ycmd`.

We have separate packages for `company-ycmd` and `flycheck-ycmd`.

For `ycmd-eldoc` I opened a PR: https://github.com/melpa/melpa/pull/3852

`auto-complete-ycmd` is hardly maintained and I don't even know if it works at all, since I don't use `auto-complete`. There were also no issues reported here so far.

[2016-05-04 15:18] #302 closed

[2016-05-06 07:19] abingham commented on #302
Right, I would not expect `auto-complete-ycmd` to work at this point. We should probably consider getting rid of it so people aren't mislead!

[2016-05-06 08:38] ptrv commented on #302
`ycmd-eldoc` is now included in the `ycmd` package. I first proposed a new recipe for `ycmd-eldoc` at MELPA but the maintainers suggested to include it in the main package since it has the same package dependencies as `ycmd`.

[2016-05-06 08:38] ptrv commented on #302
`ycmd-eldoc` is now included in `ycmd` MELPA package

[2016-05-06 08:57] jiegec commented on #302
Thanks.

[2016-05-21 21:03] ZzAntares opened #306 "Cannot open load file: no such file or directory, ycmd-request"
Hi, I've installed this package from MELPA and just when doing `(require 'ycmd)` I'm getting:

[code]

Indeed this file is not anywhere in the package, so do I need an extra dependency? so far I got `company`, `company-ycmd` and `ycmd` installed.

Thanks for the help.

[2016-05-21 22:22] ptrv commented on #306
This is strange. Do you have another (outdated) installation of `emacs-ycmd`? Or your Emacs config loads an outdated byte-compiled `emacs-ycmd`?

When you open the `ycmd.el`, does the `Package-Requires:` in line 6 contain `request` or `ycmd-request`?

We switched the dependency back to upstream `request` library and removed `ycmd-request` files from  the repository.

[2016-05-22 04:26] ZzAntares commented on #306
Yes that was the issue, I did had an outdated version of ycmd, I've updated my package list and everything is working fine now, thanks!

[2016-05-22 04:26] #306 closed

[2016-05-25 11:16] unhammer commented on #128
Would it be possible to run a hook on failure? E.g. I typically end up running "ag" whenever goto definition fails (ie. whenever I try finding a .cpp implementation from its .hpp declaration), so I could just put some stupid correct-90%-of-the-time fallback in there.

[2016-05-25 11:31] unhammer commented on #128
(I'd probably use such a hook for when I e.g. change arguments to a definition as well, and have to go back to the header to change.)

[2016-05-26 06:15] abingham commented on #128
That's an interesting idea, and I don't think it would be too much work in principle. I wonder a bit about how fine-grained it should be, though. For example, should we have a hook for goto-declaration failure, another for goto-definition failure, etc? Or should we just have a generalized "goto failed" hook (perhaps with an indicator of what kind of goto it was)?

[2016-05-26 08:35] unhammer commented on #128
A generalized hook passed one of the same strings like "GoToDefinition" sounds good to me.

Does ycmd send an exception or what on this uhm goto fail?

[2016-05-26 09:01] ptrv commented on #128
I think we should run a hook on any exception, passing the result to the hook function and then the user can decide what to do. The exception contains the exception type and also the message which identifies the type of exception.

[2016-05-26 10:45] ptrv commented on #128
@unhammer I pushed a commit which adds a hook to run on an exception. Could you try out the PR #307?

[2016-05-26 13:24] unhammer commented on #128
Nice, now I can at least do
[code]
however, there are still a couple issues:
* it's a deferred call, so I may have gotten sick of waiting in the meanwhile and moved point – is there a way to get the original point? (I couldn't find it in the exception structure at least)
* it only works on ycmd-goto-definition, not ycmd-goto, which will happily "go to" the same point as I was on. In fact, if I'm i

[2016-05-27 08:16] ptrv commented on #128
@unhammer Regarding the first point, I updated the PR and now we pass also buffer and point to the hook.

I am not sure what to do about point 2. Should we add some more logic to handle the case `GoTo` gives us back the same position?

I am also not sure regarding point 3. I could think of fixing the issue by checking whether there is an unfinished deferred request and in that case just prevent se

[2016-05-28 15:03] unhammer commented on #128
Point 1 is fixed for my use at least, thanks :-)

[2016-06-10 13:42] dzhwinter opened #311 "[question] ycm_extra_conf.py load include dir does not take effect"
I use global_conf.py as default,  then the ycm_extra_conf.py
 this project. https://github.com/dmlc/dmlc-core
I add one option(because other option has been loaded in global_conf.py and had take effect, tested)
as the repo shows, just seperate the src directory and include directory.
[code]

the source file where include header file like this
[code]

I have tested serveral methods bellow, neither

[2016-06-10 14:37] ptrv commented on #311
Have you tried this way:

`'-I', '/Users/dzh/github/dmlc-core/include'`,

[2016-06-14 12:10] ptrv commented on #311
@dzhwinter Have you managed to get your includes working?

[2016-06-25 07:12] dzhwinter commented on #311
sorry for such a  delay response. yeah, your suggestion is right. it works like a charm!

[2016-06-25 07:12] #311 closed

[2016-07-18 19:37] ptrv opened #313 "File parsing condition 'buffer-focus' does not work when file is opened with 'ycmd-goto'"
When a file is opened/switched-to with `ycmd-goto`, file parsing is not executed on that file if `buffer-focus` condition is used.

Repro:

* `(setq ycmd-parse-conditions '(buffer-focus))`
* Open a `cpp` file
* Go to a symbol that is declared/defined in another file in the project and `M-x ycmd-goto`
* Newly opened file is not parsed -> see also in `*ycmd-server*` window there is information about

[2016-07-19 06:17] #313 closed

[2016-07-23 20:13] #240 closed

[2016-07-23 20:53] puremourning opened #316 "FixIts on notes: emacs-ycmd applies all FixIts rather than offering a choice"
Hi guys,

In https://github.com/Valloric/ycmd/pull/532, we added support to ycmd to provide FixIts from clang that are attached to 'notes' . These are often the sort of "did you mean xxx?" suggestions you get from clang on the command line, and occasionally include _multiple_ suggestions. The user is expected to only apply _one_ such suggestion.

I realise this is entirely my fault, but the curren

[2016-07-24 02:38] ptrv commented on #316
@puremourning Thanks for bringing this up! I haven't noticed the change in ycmd. I'll have a look into this and I'll come up with something.

Nice feature btw. :smile:

[2016-07-24 02:51] ptrv commented on #316
@puremourning In order to distinct notes from multiple fixits on a line, can I rely on the fact that notes have the same location?

[2016-07-24 16:31] puremourning commented on #316
Good question. Currently in the Vim client we don't distinguish.

We set the location of the FixIt to the location of its associated diagnostic. Diagnostics in clang are hierarchical, so while it might always _be the case_ that they share a location with their immediate siblings, I don't think it is guaranteed any way in the interface.

ycmd does *know* that a FixIt comes from a note (or strictly,

[2016-07-24 19:50] ptrv commented on #316
I started with the implementation and the handling of the fixit data is more or less done, I am working on the Emacs specific integration.  I realized that it is not important to know whether the data is a note or not. Only the location is important and if the same location has multiple fixits then show a list instead of applying the chunk.

[2016-07-25 06:05] #316 closed

[2016-07-28 16:20] quicknir opened #318 "Function to reacquire flags (restart server)"
Hi,

I've found that when I refresh my compile_commands.json file, which ycmd is using to get the flags for my files, I'm not able to get it to refresh to use the new flags. I run ycmd-clear-compilation-flag-cache, I turn ycmd-mode off and on, I close the file and re-open it, etc. The only thing that seems to work is restarting emacs. Is there some other way to do it? I assume that restarting the

[2016-07-28 16:38] ptrv commented on #318
If you do `M-x ycmd-open` when the server is running, then the server gets restarted. The file is after that unparsed, you can see the `?` next to `ycmd` in the mode-line. So you need to `M-x ycmd-parse-buffer` to reparse.

[2016-07-28 16:40] quicknir commented on #318
@ptrv Cool, thanks. I will give this a shot the next time I have this come up. I'll close for now and re-open only if this doesn't work. Thanks again!

[2016-07-28 16:40] #318 closed

[2016-07-28 17:01] quicknir opened #319 "Option to skip fixit confirmation"
Title pretty much says it all. Personally I'd rather just apply the fixit right away, and then undo if there's a problem. I'd guess the code change would be trivial?

[2016-07-28 17:08] ptrv commented on #319
There is the option `ycmd-confirm-fixit` which is by default set to `t`. You can change it then you don't have to confirm.

[2016-07-28 17:08] #319 closed

[2016-07-28 17:41] quicknir commented on #319
Thanks, sorry, my bad!

[2016-07-31 22:38] ptrv commented on #289
I can reproduce this error message when I try to get semantic completion for a filetype that does not support it. This happens after a semantic trigger or when `ycmd-force-semantic-completion` is set to `t`.

The error message can be ignored.

Closing this issue.

[2016-07-31 22:38] #289 closed

[2016-07-31 22:41] ptrv commented on #290
Closing the issue since the last post of the server window output shows that the server is running fine and the initial error was due to not setting the correct options file.

[2016-07-31 22:41] #290 closed

[2016-07-31 22:49] ptrv commented on #215
Closing this issue since it was probably due to wrong python version.

Please re-open if the issue is still happening.

[2016-07-31 22:49] #215 closed

[2016-07-31 22:50] #74 closed

[2016-08-04 13:25] r4nt opened #323 "Problem with non-ascii characters."
#include <string>

int main (int argc, char** argv) {
  std::string foo = "42°C";
}

Leads to errors in emacs 25.1.1. Related emacs bug:
http://debbugs.gnu.org/cgi/bugreport.cgi?bug=24117#23

Modifying ycmd.el:1755 to use 'curl instead of 'url-retrieve works around the problem.

[2016-08-04 13:47] ptrv commented on #323
Thanks for the report and for the workaround.

I tried out changing the `request-backend` to `curl` and all tests pass.

@abingham Was there a specific reason to explicitly use `url-retrieve` as `request-backend`?
The default value of `request-backend` is `curl` if it is installed and `url-retrieve` if the `curl` executable cannot be found. We could just use that or specify a variable in `ycmd` to

[2016-08-05 06:12] abingham commented on #323
That decision was probably part of the fallout from the huge struggles we had with `request` in the early part of development. Probably partly misconceptions on my part, partly something that seemed like a good idea at the time. If everything seems to work with `request`'s default value, then let's use that.

[2016-08-05 22:59] handrake0724 opened #324 "c++ constructor completion is not supported?"
I have installed emacs-ycmd.
When I type a class instance followed by a period, class member functions and variables can be listed by use of emacs-ycmd.
But the function of listing candidate constructor is not working when I declare a class instance.
i.e.)
Lets assume that class A have two constructors as follows:
class A {
public:
A ();
A (int a);
A (int a, int b);
};

in the main function
int ma

[2016-08-07 08:57] #323 closed

[2016-08-07 09:23] abingham commented on #324
I'm not sure if the underlying ycmd server gives us any results in this situation. In fact, [this](https://www.bountysource.com/issues/1123353-show-constructor-signatures-for-c) seems into indicate that perhaps it doesn't support constructors right now.

@Valloric What is the state of C++ constructor completion right now?

[2016-08-08 00:40] Valloric commented on #324
For a line like `A a(`, if you force semantic completion after `a` (before the paren) ctor completion might work, depending on libclang. But I'm not entirely sure about that; ctor completion seems like a corner case. In this instance, you'd want param group completion, but ycmd is focused on _name_ completion; AFAIR we even collapse multiple overloads to one entry in the completion menu for YCM (n

[2016-08-08 06:48] ptrv commented on #324
I tried out a forced semantic completion after `A a` but there was no semantic result. Same behavior in vim. @Valloric what do you mean by

[2016-08-08 09:57] ptrv opened #328 "activate travis-ci for this repo"
It would be nice to have travis-ci integration for this repo to only be able to merge pull requests when tests are passing.

@abingham Could you setup emacs-ycmd on travis-ci.org and then activate the travis service in the repo settings?

[2016-08-08 10:23] abingham commented on #328
Good idea. I'll try to get to it soon.

[2016-08-08 10:56] ptrv commented on #328
Cool thanks!

[2016-08-08 12:26] abingham commented on #328
@ptrv When you set up your travis build, did you have any problems with the dash package? It looks like my .travis.yml is the same as your (which builds successfully), but mine fails because it can't require dash: https://travis-ci.org/abingham/emacs-ycmd

[2016-08-08 12:55] ptrv commented on #328
Looks odd. I'll have a look.

[2016-08-08 13:08] abingham commented on #328
It seems like some old elc file is sticking around or something.

[2016-08-08 13:13] ptrv commented on #328
In the `travis.yml` there is caching for the cask directory enabled. In my travis the builds were run successful because it didn't update dash for a while. I created a test branch and now it fails there too

[2016-08-08 13:14] abingham commented on #328
Ah, right. I've started a build with a "make clean" at the start. If that doesn't do the trick, I'll disable the caching.

[2016-08-08 13:19] ptrv commented on #328
The builds are still failing. I'll have a deeper look when I have more time

[2016-08-08 15:17] ptrv commented on #328
Travis works fine now. Finally

[2016-08-08 15:27] #328 closed

[2016-08-08 17:45] Valloric commented on #324
@ptrv I meant it depends on what libclang decides are semantic completions at that point. We'll query libclang for semantic completions at that line & column, but it's up to libclang to decide what to return. So if libclang returns nothing here, then it doesn't support ctor completion for this use-case.

[2016-08-08 18:28] ptrv commented on #324
Ok, I understand. Looks like libclang does not support ctor completion after the variable name.
If the cursor is after the class name, then a forced semantic completion returns the different ctor versions.

[2016-08-10 23:03] stanford-scs opened #330 "emacs-ycmd cannot figure out port number"
I'm using ycmd-20160809.355 from elpa on arch linux with emacs 24.5.1 and vim-youcompleteme-git. emacs-ycmd does not seem to be able to figure out the port number, and always dies with the error:

`REQUEST [error] Error (error) while connecting to http://127.0.0.1:0/shutdown.`

Note the port number of 0.  In my .emacs I set:

[code]

This leads to emacs-ycmd spawning commands like this:

`/usr/bin

[2016-08-10 23:34] ptrv commented on #330
Hi,

it looks like your `vim-youcompleteme-git` installation is outdated. The `/shutdown` command has  been introduced in `ycmd` quite recently and your version does not support it.

I suggest to install from the `ycmd` [git repo](https://github.com/Valloric/ycmd) or update `vim-youcompleteme-git` package.

[2016-08-10 23:46] stanford-scs commented on #330
I'm running youcompleteme from git, and it seems to support shutdown just fine.  Look at the port number in the URL:

`REQUEST [error] Error (error) while connecting to http://127.0.0.1:0/shutdown.`

The problem is that emacs never actually connects to ycmd, because it is trying to connect to TCP port 0.  So of obviously the /shutdown request to a non-existent HTTP server on non-existent TCP port

[2016-08-10 23:48] stanford-scs commented on #330
@ptrv Could my ycmd installation be *too* recent?  Because it doesn't seem to print out it's listening URL any more.  Can you suggest an older version of ycmd to try?

[2016-08-11 00:04] ptrv commented on #330
When  did you install `vim-youcompleteme-git`? There was an issue in `ycmd` which has been fixed: https://github.com/Valloric/ycmd/pull/555

[2016-08-11 00:31] stanford-scs commented on #330
I'm using git commit da5fb5aa2d25c5a5908d0dbb2ff8c83a7e1029ad, dated 5:16am this morning. It seems to be the latest.  Thanks.

[2016-08-11 07:27] abingham commented on #330
I can't explain this. I fresh linux installation (ubuntu, not arch) and tried to recreate your scenario, but everything seems to work fine. At least, I've verified that ycmd is printing its port as expected.

Is is possible that your shell is doing buffering somehow?

I'd like to verify that ycmd is even getting to the point in the code that should print the info. I don't see how it would *not* ge

[2016-08-11 08:06] ptrv commented on #330
I installed `vim-youcompletme-git` on my system, since I also run arch and it doesn't work here either. I you look into the file `/usr/share/vim/vimfiles/third_party/ycmd/ycmd/wsgi_server.py` doesn't have the print in the `Run` method. It's definitely not the latest version.

Please use the latest `ycmd` version from git for a working setup.

[2016-08-11 12:12] ptrv commented on #330
Ok, i figured out the problem. `vim-youcompleteme-git` installs the latest `youcomplete` plugin, however the submodules are not pointing to the latest commits. So, `ycmd` is at 8b2f78acb4cc19a5ec4c9bbb8a60f97911d33d3c which is from 19 days ago, which does not contain a the fix to print the line `serving at http://...`

[2016-08-11 17:10] stanford-scs commented on #330
Weird.  If I unpack the sources with `makepkg -o --skippgp` and cd to `src/ycmd`, I get:

[code]
However, if I run `diff -u ycmd/wsgi_server.py /usr/share/vim/vimfiles/third_party/ycmd/ycmd/wsgi_server.py` indeed the print is missing.  It appears there are *two* copies of ycmd being checked out.  The one in `YouCompleteMe/ycmd` is a submodule that has the old version 8b2f78acb4cc19a5ec4c9bbb8a60f9

[2016-08-11 20:32] #330 closed

[2016-08-11 20:32] ptrv commented on #330
@stanford-scs Could you make `ycmd` work?

[2016-08-12 04:08] zijianyue opened #331 "Ycmd error: ycm_core library compiled for Python 2 but loaded in Python 3."
I sometimes encounter this error ,but I have uninstalled Python3, and set the command like this:
(set-variable 'ycmd-server-command '("c:/Python27/python.exe" "-u" "D:/ycmd/ycmd/")), then what's the problem?  I'm working on WIN7 64bit, python2.7.12 is installed in c:/Python27/. LLVM 3.8.1

[2016-08-12 04:12] zijianyue opened #332 "libclang.dll assertion fail sometimes happen"
I have '-fexceptions' and '-DNDEBUG' in the .ycm_extra_conf.py file , why assertion still happened
 I'm working on WIN7 64bit, python2.7.12 is installed in c:/Python27/. LLVM 3.8.1

[2016-08-12 07:11] abingham commented on #331
When you say "sometimes" do you mean that it works sometimes and breaks sometimes with no other associated changes? That would be really strange.

What happens if you run the command on the command line?

[2016-08-12 07:12] abingham commented on #332
This sounds like a problem with ycmd, not the emacs bindings. Have you asked there?

[2016-08-12 07:14] abingham commented on #324
It sounds like this is resolved. @handrake0724, reopen it (with an explanation) if you feel otherwise.

[2016-08-12 07:14] #324 closed

[2016-08-12 12:07] zijianyue commented on #332
no

[2016-08-12 12:09] zijianyue commented on #331
yes ,it can work OK most of the time, but sometimes break

[2016-08-12 12:10] zijianyue commented on #331
I enabled the log ,my include paths are ok, no error found in the log

[2016-08-12 12:26] abingham commented on #331
But what happens if you run ycmd on the command line using the same arguments as in ycmd-server-command?

[2016-08-12 12:29] abingham commented on #332
What are your settings for ycmd-global-config, ycmd-extra-conf-whitelist, and ycmd-extra-conf-handler?

[2016-08-12 17:06] stanford-scs commented on #330
Yup, seems to work for me now.  For anyone else getting this problem on arch, I just manually updated ycmd in the `vim-youcompleteme-core-git` package by unpacking it (`yaourt -G vim-youcompleteme-core-git`), then going into `src/YouCompleteMe` and running `git submodule update --remote third_party/ycmd`.  After that 'makepkg -fei` installed a working ycmd daemon for me.  Thanks for your help, and

[2016-08-12 17:42] ptrv commented on #330
@stanford-scs no worries. I'm glad `ycmd` works for you  now.

[2016-08-13 01:31] zijianyue commented on #332
(set-variable 'ycmd-server-command '("python" "-u" "D:/ycmd/ycmd/"))
(set-variable 'ycmd-global-config "~/.ycm_extra_conf.py")
(setq ycmd-extra-conf-handler 'load)
And I didn't set ycmd-extra-conf-whitelist

[2016-08-13 01:38] zijianyue commented on #332
I found this debug info in my "ycmd-server" buffer :
DEBUG - Global extra conf not loaded or no function YcmCorePreload

[2016-08-13 02:22] zijianyue commented on #331
Sorry, I don't know how to do as you asked. I made an example to reproduce it, can you use this to check the problem? I just use ycmd-goto ,ycmd-get-type, ycmd-parse-buffer, and the error happened sometimes.
https://github.com/zijianyue/test-ycmd.git
And my dotemacs file is here
https://github.com/zijianyue/my-init/blob/master/.emacs , you can search "ycmd" in my init file.

[2016-08-18 07:13] zijianyue commented on #331
The python cache in third-party folder is compiled using python3 ,when I use a python2 version ycm_core.pyd, it reports this error

[2016-08-18 08:41] ptrv commented on #331
@zijianyue I am glad you could resolve the issue

[2016-08-22 06:16] abingham opened #338 "Consider using homu.io for automatic test+merge"
[homu.io](http://homu.io/) seems to provide a nice layer to the github/travis system in which it does automatically does merges when a) humans have approved the change and b) tests are passing. This could be a nice addition to our current system.

[2016-08-22 06:20] abingham commented on #338
I *think* this is set up now. There was some error during oauth stuff, but it shows homu as a collaborator now. Need to give it a test run.

[2016-08-22 06:51] ptrv commented on #338
Oh cool. Using homu.io is a very good idea.

[2016-08-22 07:22] abingham commented on #338
They seem to be having database connection issues or something right now. Attempts to enable homu integration result in a) the collaborator being added to the project and b) an error about a broken pipe. I figure we should just try later.

[2016-08-22 07:43] abingham commented on #332
This is mysterious. Try changing your `ycmd-global-config` value to the full, absolute path to your extra config, i.e. replace "~" with the actual path. I don't think this should be an issue, but it's possible.

Also, could you post the full contents of your `.ycm_extra_conf.py`? That might contain some clues.

[2016-08-22 09:01] zijianyue commented on #332
Today I use the version of cbc0275296e96913db61168bf677fdacca192a4b, the issue happened rarely ,before this version it happed frequently

[2016-08-22 09:02] zijianyue commented on #332
My global extra config content:
# Copyright (C) 2014 Google Inc.
#
# This file is part of ycmd.
#
# ycmd is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# ycmd is distributed in the hope that it will be useful,
#

[2016-08-22 09:09] abingham commented on #332
I'm not sure what could be happening then. It's really strange that it only happens sometimes; I would expect that you'd see problems all of the time or never. Assuming that you've got `ycmd-global-config` set correctly, it looks like things should work.

You could try calling `ycmd-toggle-log-enabled` to see if anything suspicious shows up in the logs.

[2016-08-22 09:13] zijianyue commented on #332
My extra config of working project:
Only the content of flags is different with my global extra config. And I delete and modify some private stuff for our security policy.
flags = [
  # THIS IS IMPORTANT! Without a "-std=<something>" flag, clang won't know which
  # language to use when compiling headers. So it will guess. Badly. So C++
  # headers will be compiled as C headers. You don't want tha

[2016-08-22 11:01] abingham commented on #338
It looks like [homu.io is broken, and it may have been so since April](https://github.com/barosl/homu/issues/148).

[2016-08-23 10:43] zijianyue commented on #332
These two days, after using the latest version of emacs-ycmd, this issue disappeared, so I close it

[2016-08-23 10:43] #332 closed

[2016-08-24 03:32] zijianyue opened #341 "When the cursor is at the right boundary of word ,ycmd-goto can't work"
For example: pstAbc->uiAttr ,and the cursor is after the letter 'r', ycmd-goto can't jump to the definition.
BTW some other tools like semantic-ia-fast-jump and helm-gtags-find-tag support this.
Can emacs-ycmd add this support ,it can save one M-b stroke when I use M-f to move to the symbol that I want to ycmd-goto.

[2016-08-24 07:25] abingham commented on #341
We could probably find a reasonable algorithm for doing this. `helm-gtags-find-tag` uses `thing-at-point` to figure out what the user is looking at,  but we don't really have that option. We essentially just send a bunch of information - buffer contents, current position, etc. - over to ycmd and ask it for an answer, so ycmd is responsible for figuring out what the user is looking at.

We'd probab

[2016-08-26 04:15] bravomikekilo commented on #57
the bug is quite serious,
the error is triggered on the start
the complete of C++ is totally break

[2016-08-26 05:52] abingham commented on #57
@bravomikekilo This has been a long and involved thread, so I'm not entirely sure what behavior you're talking about. Could you post more details or, even better, open a new issue with details?

[2016-08-26 09:33] #341 closed

[2016-08-26 09:36] abingham commented on #341
@zijianyue I've just merged in a patch by @ptrv that should fix this issue:

    https://github.com/abingham/emacs-ycmd/pull/342

Try it now and let us know if it works for you.

[2016-08-27 01:44] zijianyue commented on #341
Great , it works very well!

[2016-08-30 06:48] apmanol opened #344 "Ycmd server finished with exit code 9"
Hello all,

firstly I would like to thank you for this very handy tool.
Secondly I would need your help, in identifying a problem with emacs and ycmd. I used to be a very happy user until I updated  with emacs package-list to the latest `20160828.434` from elpa. As far as I can see it corresponds to the latest commit 56808f9. For some unknown reason the server finishes with exit code 9 and I could

[2016-08-30 08:20] ptrv commented on #344
Hi @apmanol

The emacs-ycmd commit you mention is probably not the culprit, since the change is not very intrusive, just adding new keywords for rust-mode.

Is this happening for all your projects?

Can you post your emacs-ycmd configuration? and your ycm_extra_conf.py or global conf?

Which python version are you using? Did you recompile `ycmd` after you updated it?

[2016-08-30 09:18] apmanol commented on #344
Thanks for answer!

The transition was from some version from two months ago (sorry I don't have the exact number) to the current one.
Yes, even for a simple `int main(){return 0;}`

[code]

[ycm_global_conf_issue.zip](https://github.com/abingham/emacs-ycmd/files/444452/ycm_global_conf_issue.zip)

Python 2.7.11 (fedora 23)

Yes  I recompiled the ycmd.

GNU Emacs 24.5.1 (x86_64-redhat-linux-gnu, GT

[2016-08-30 11:38] ptrv commented on #344
Hmm, you configuration looks pretty normal and I also tested your global ycm config file (which is the default one from `ycmd`?) You have also a project `.ycm_extra_conf.py`. Maybe there is something?

With this information I cannot do much or suggest anything. We need exact reproduction steps which we we can use to reproduce on our machines.

One recent major change though in `emacs-ycmd` was tha

[2016-08-30 13:44] apmanol commented on #344
Yes indeed is the default one, used to work perfectly before the upgrade. Tried it with an simple file in /tmp and got the same result.

I tried the trick by setting port 55434, still the same problem.

Furthermore, I succeed to print the args in __main__.py of ycmd and I got the following:
In *ycmd-server*

debug
2016-08-30 16:39:18,156 - DEBUG - Global extra conf not loaded or no function YcmCor

[2016-08-30 17:45] vheon commented on #344
The option file is deleted as soon as it's read by `ycmd` is used only to pass the secret for the HMAC authentication.

[2016-08-30 23:07] ptrv commented on #344
The server output points to the `/shutdown` request from `ycmd-close`. Maybe we should wait longer before we send the `/ready` request.

@apmanol Could you please try this commit https://github.com/ptrv/emacs-ycmd/commit/44a0990b44d52fe7a1be708d70b0efa3d3280e6e from this branch https://github.com/ptrv/emacs-ycmd/tree/get-port-from-server

With the patch we wait until we get the port from the serve

[2016-08-31 06:51] apmanol commented on #344
with the patch and empty ycmd-server-port:

From *ycmd-server* log:

debug
sanity check ok
2016-08-31 09:43:25,313 - DEBUG - Global extra conf not loaded or no function YcmCorePreload
call global extra
detach from terminal
ready to run
serving on http://127.0.0.1:32919

From *Messages* log

Ycmd server finished with exit code 9
progn: ERROR: Ycmd server timeout

[2016-08-31 07:43] ptrv commented on #344
Hmm, very strange.

From the output it looks like the `ycmd` is not understanding the `/shutdown` request.

I could reproduce the same error message when changing the `/shutdown` to something mispelled like `/shutdow`.

The `shutdown` requst has been introduced in `ycmd` also quite recently.
Can you please verify again  if `ycmd` is the latest, because for me it looks like you are not using the la

[2016-08-31 08:49] apmanol commented on #344
Unfortunately, I deleted the `ycmd` folder, cloned and rebuild but the problem remains.
Any idea of how could I peak some logs from the `ycmd server` ?

[2016-08-31 09:12] ptrv commented on #344
What is the value of the variable `request-backend`? We used to set it before the request to `url-retrieve`  but because an error with non-ascii characters we use the value of `request-backend` as it is, in order to make it possible for the user to set it to either `curl` or `url-retrieve`.

If you haven't set it then it's probably `curl`. Maybe you could try to set it to `url-retrieve`

[2016-08-31 11:01] apmanol commented on #344
Finally, thanks for the excellent tip!

For some strange reason after coming back from vacation and upgrading both emacs packages and fedora packages the 'curl http://127.0.0.1:55556/shutdown` was trying to use the proxy settings.

After adding the `127.0.0.1` to `no_proxy` environment variable everything start working as it should.

Thanks again for your time and for maintaining this excellent to

[2016-08-31 11:01] #344 closed

[2016-08-31 11:15] ptrv commented on #344
Ahhh, finally!
I am glad we could solve the issue. 😄

Happy completing!

[2016-08-31 15:57] ptrv commented on #344
@apmanol Btw, you can view the log for the server communication by setting the variable `request-log-level` from it's default `-1` (no logging) to one of One of `error`/`warn`/`info`/`verbose`/`debug` and opening the buffer ` *request-log*`. (notice the space before the start in the buffer name)

[2016-09-02 20:05] Kha opened #348 "Add option to open definition/... in other window"
Something I miss dearly from vim YCM. Not sure what the key bindings should be like (universal argument?), I'm mostly interested in supporting it in spacemacs anyway.

[2016-09-03 00:22] ZzAntares commented on #331
Hi @zijianyue could you elaborate more on that? I'm having the same issue, which folder/cache I need to remove?

[2016-09-03 07:10] zijianyue commented on #331
@ZzAntares ,sorry ,this issue on my machine is still exist.

[2016-09-03 22:29] ptrv commented on #348
Hi @Kha

Thanks for the suggetions. I am also not sure  yet whether we should make this available via prefix-argument (`C-u`) or add another version of each `GoTo` function which opens the file in other window (i.e. `ycmd-goto-other-window`). The latter is usually used for `other-window` functions, like `C-x 4`. Also for key bindings this is better. Adding both versions would be also quite conveni

[2016-09-03 22:35] ptrv commented on #331
@ZzAntares The issue is that the python version that you use in Emacs is different from the one that you used to compiled your `ycmd` server.

You can fix the error by making sure that the version that you use for compileng the server is the same you set with the `ycmd-server-command` variable.

[2016-09-03 22:36] ptrv commented on #331
Closing the issue since the python version mismatch is not an `emacs-ycmd` issue.

[2016-09-03 22:36] #331 closed

[2016-09-08 01:38] Kha commented on #348
I'm not too acquainted with elisp, but I can try to make the change. I'm specifically interested in adding keybindings for these to spacemacs, so feel free to suggest regular emacs bindings.

[2016-09-08 07:25] ptrv commented on #348
I can also have look into this too. The interactive functions need to pass the information whether to open with `find-file` or `find-file-other-window` through multiple functions.

[2016-09-09 06:52] topiolli opened #350 "flycheck-ycmd checks saved file, not current buffer contents"
The flycheck integration seems to work on the file instead of the current buffer contents. I get correct reports after saving the buffer, but not while typing or when manually checking an unsaved buffer. If I fix the reported problems, flycheck still reports the errors in the file and only updates after save.

I'm a bit puzzled as code completion with company-ycmd works fine, which means that it s

[2016-09-09 23:50] ptrv commented on #350
`emacs-ycmd` sends the file contents to the server by sending a `FileReadyToParse` event. The response data of this event is then used by `flycheck-ycmd`. How often this event is sent to the server depends on the value of the variable `ycmd-parse-conditions`. It's a list and its default value is `'(save new-line mode-enabled)`. So, the buffer content is sent to the server when you save the file, y

[2016-09-12 04:44] topiolli commented on #350
Thanks for a quick reply. I need to play with the `idle-change` option and see if my project is too large. :) The current default works quite well when writing new code. However, correcting an existing problem often does not require a new line. I also have a tendency to introduce new problems while editing existing good code.

Would it be possible to detect a situation where the cursor moves from

[2016-09-12 10:47] ptrv commented on #350
The `idle-change` setting is exactly for this. However there is also a small delay for parsing the file `ycmd-idle-change-delay`

[2016-09-12 11:13] topiolli commented on #350
`idle-change` works for me, but it doesn't do exactly what I tried to suggest. In case of a large project - mine apparently isn't :) - delaying parsing until the point moves to another line would do about the same as the current default, but it would also work when modifying existing code. Parsing wouldn't be triggered unless the point moves to a new line. Currently, checking is triggered after a

[2016-09-13 08:09] radupopescu opened #351 "flycheck-ycmd broken with latest flycheck update"
The latest version of `flycheck` (`flycheck-20160912.814` from Melpa) makes the `:modes` parameter mandatory for all syntax checkers. `flycheck-ycmd` relies on `:predicate` and doesn't define any `:modes`.

[2016-09-13 08:29] #351 closed

[2016-09-13 09:35] ptrv commented on #350
I really don't understand why we should not parse when a buffer changes but parse on a new line. I don't see a problem to save the buffer to update flycheck. We have the parse conditions to be able to configure the behaviour when to parse. For instant update of flycheck you only need to activate idle-change. IMHO I don't think a new line means always "I am finished with editing". Or maybe I just d

[2016-09-13 10:02] topiolli commented on #350
Perhaps I don't have a point, or perhaps I'm unable to drive it home.

The whole point of on-the-fly checking is that it happens while editing. In that sense, the `idle-change` option is just what one would expect. But you said it causes a performance problem in large projects, which is why it was dropped from the default parse conditions.

This is what the default setup currently does, so the log

[2016-09-13 11:55] ptrv commented on #350
I now understand your suggestions. So basically if we have disabled `idle-change`, then trigger a parse when we go to a different line without entering an actual line.
This might be in some situations an improvement, but I am not sure the additional logic would justify the suggestions. I have to think about how to include the buffer modified check in order to be able to try to parse more often.

I

[2016-09-13 11:55] #350 closed

[2016-09-13 18:11] ptrv commented on #351
@radupopescu Btw, thanks for reporting

[2016-09-13 19:16] micbou opened #352 "Signals returned by the ycmd process are handled the same way as exit codes"
When the ycmd process is killed by a signal, emacs-ycmd considers the signal as an exit code, which leads to error messages completely unrelated to the reason why the server is terminated:
 - in issue #331, the ycmd server returns the SIGABRT signal, which is handled as an exit code of 6 and an error message about the ycm_core library imported with the wrong Python is shown to the user;
 - in issu

[2016-09-13 19:39] radupopescu commented on #351
Thank you for the really quick fix!

[2016-09-13 19:53] ptrv commented on #352
Thanks for reporting. Yes indeed, we were handling signals same as exit code.

[2016-09-17 20:52] Valloric opened #354 "Missing whitespace in completion menu"
![bug](https://cloud.githubusercontent.com/assets/919444/18610888/6a6e4270-7cdd-11e6-9efc-73f057712e2c.png)

Look at the first 4 entries in the completion menu. The name of the fields of the struct are right next to the type of the field, without any whitespace in between. Kinda hard to read.

In case the screenshot is not enough to figure out the root cause of the issue, you can repro like so:

1

[2016-09-17 22:25] ptrv commented on #354
I tried to reproduce the error, however I can't get rust completion to work:
I have this error:

[code]

Any ideas?

[2016-09-18 00:17] Valloric commented on #354
That looks like we need a better error message somewhere. Seems like a 500 response from racerd. @jwilm Thoughts? The debugging experience here could be better.

@ptrv I think you'll need to set up the [rust source path var](https://github.com/Valloric/YouCompleteMe#rust-semantic-completion).

[2016-09-18 00:20] Valloric commented on #354
For reference, [here's how I set up emacs-ycmd](https://github.com/Valloric/dotfiles/blob/master/emacs/spacemacs.el#L519).

[2016-09-18 00:31] ptrv commented on #354
I am getting these errors with having set up the rust source path var.

The error log:

[code]

[2016-09-18 00:40] jwilm commented on #354
There's a bug in one of racerd's dependencies where it refuses to cooperate for certain terminals (or lack of terminal). Really need to publish an update for that...

[2016-09-18 00:46] jwilm commented on #354
I just pushed a branch to `racerd` called `without-logger` which should make that error go away. A little more work needs to be done to publish a new version (actually want some form of logging), but this should allow you to get some completions @ptrv.

[2016-09-18 09:17] ptrv commented on #354
@jwilm Thanks for the `without-logger` branch. I checked it out and was able to get completions and reproduce the issue mentioned by @Valloric.

[2016-09-18 09:49] #354 closed

[2016-09-18 14:07] abingham commented on #352
@micbou Is this fixed now?

[2016-09-18 14:08] #352 closed

[2016-09-18 15:14] micbou commented on #352
Yes, thanks.

[2016-09-29 02:10] moyotar opened #358 "Ycmd server timeout"
My config.

[code]

init output.

File mode specification error: (error "ERROR: Ycmd server timeout")
You should have a section marked ";;; Commentary:"
The first line should be of the form: ";;; package --- Summary"
REQUEST [error] Callback is not called when stopping process! Explicitly calling from timer.
REQUEST [error] Error (timeout) while connecting to http://127.0.0.1:53841/shutdown. [2 ti

[2016-09-29 02:25] #358 closed

[2016-09-29 02:47] moyotar opened #359 "Ycmd server error."
This is my config.
[code]

The output is below.
[code]

@abingham
@Valloric
@ptrv

[2016-09-29 07:25] abingham commented on #359
Are you sure that `D:/appdata/emacs/extraBin/Python27` is a file and not a directory? The error you posted seems to indicate that it's a directory.

[2016-09-29 07:27] moyotar commented on #359
It is a directory which contain python.exe.

[2016-09-29 07:28] abingham commented on #359
Try `(set-variable 'ycmd-server-command '("D:/appdata/emacs/extraBin/Python27/python.exe" "-u" "D:/appdata/emacs/extraBin/ycmd/ycmd"))` instead. The `ycmd-server-command` needs to be an actual program, not just a directory containing a program.

[2016-09-29 07:41] moyotar commented on #359
Thanks! A new problem: how to set ycmd-extra-conf-whitelist correctly?

[2016-09-29 07:44] abingham commented on #359
That really depends on what you want to do. As [the documentation says](https://github.com/abingham/emacs-ycmd/blob/master/ycmd.el#L60), it's a list of glob patters. Whenever ycmd encounters an extra conf that matches one of those patterns, the extra conf is loaded without asking the user.

[2016-09-29 07:44] #359 closed

[2016-09-29 07:50] moyotar commented on #359
I met this.

2016-09-29 15:48:12,936 - DEBUG - No global extra conf, not calling method YcmCorePreload
serving on http://127.0.0.1:62165
2016-09-29 15:48:13,167 - INFO - Received ready request
Traceback (most recent call last):
  File "D:\appdata\emacs\extraBin\ycmd\third_party\bottle\bottle.py", line 861, in _handle
    return route.call(**args)
  File "D:\appdata\emacs\extraBin\ycmd\third_party\

[2016-09-29 07:59] abingham commented on #359
You've got a cluster of issues here.

First, you've set `ycmd-toggle-force-semantic-completion` to `t`. This is wrong because `ycmd-toggle-force-semantic-completion` is a function...call it to toggle the value of `ycmd-force-semantic-completion`. If you want to simply force semantic completion all of the time, set `ycmd-force-semantic-completion` to `t`.

However, you're seeing he exception you've

[2016-09-29 08:00] vheon commented on #359
@moyotar which is true (since ycmd doesn't have a semantic completer for elisp) so you will get the regular identifier completion. Don't you get any completion at all? Like with identifiers from the current file?

[2016-09-29 08:07] moyotar commented on #359
@abingham  I follow your suggestion.  However,  I got this below when I tested completion in cpp file.

2016-09-29 16:04:02,898 - DEBUG - No global extra conf, not calling method YcmCorePreload
serving on http://127.0.0.1:49682
2016-09-29 16:04:03,147 - INFO - Received ready request
2016-09-29 16:04:03,302 - INFO - Received event notification
2016-09-29 16:04:03,302 - DEBUG - Event name: BufferVis

[2016-09-29 08:10] abingham commented on #359
Now you're trying to complete C++ code which *does* have semantic completion. Let me just point out the last line in the error trace:
[code]
Please do that.

[2016-09-29 08:12] moyotar commented on #359
@abingham  As for .ycm_extra_conf.py, I've added this in my config.
`(set-variable 'ycmd-global-config "D:/appdata/emacs/extraBin/ycmd/cpp/ycmd/.ycm_extra_conf.py")`

[2016-09-29 08:16] abingham commented on #359
That's nice, but you need to [provide one for the specific "project" of the file you're working on](https://github.com/Valloric/YouCompleteMe#c-family-semantic-completion). The global-config is a different thing from per-project configs. Please read the documentation thoroughly.

[2016-09-30 03:56] moyotar opened #360 "Why can't it complete anything in a .cpp file?"
This was the server output when opening the .cpp file.

 2016-09-30 11:41:09,683 - DEBUG - No global extra conf, not calling method YcmCorePreload
serving on http://127.0.0.1:51532
2016-09-30 11:41:09,828 - INFO - Received ready request
2016-09-30 11:41:09,960 - INFO - Received ready request
2016-09-30 11:41:10,075 - INFO - Received ready request
2016-09-30 11:41:10,190 - INFO - Received ready req

[2016-09-30 08:39] abingham commented on #360
If you put your cursor at some place that could be completed and run `M-x ycmd-display-completions`, do you get any results?

[2016-09-30 08:44] moyotar commented on #360
After I typed "del" and ran `M-x` `ycmd-display-completions`, I got this.

((completion_start_column . 2)
 (completions .
			  [((extra_menu_info . "[ID]")
				(insertion_text . "delete"))])
 (errors .
		 []))

[2016-09-30 08:50] abingham commented on #360
It looks like the basic plumbing is working, so you must have a problem in how you've configured company or something.

A few things:
1. As I mentioned before, `(setq ycmd-toggle-force-semantic-completion nil)` is incorrect. That's a function. You're probably thinking about `ycmd-force-semantic-completion`, not the toggle function.
2. You don't need the `ycmd-setup-completion-at-point-function` st

[2016-09-30 09:31] moyotar commented on #360
My config was modified as  your suggestion. As for company, it can work in a .py file with ycmd. So I think it's not in company. Once again, I got this after typing "ret" which expected "return".

((completion_start_column . 2)
 (completions .
			  [])
 (errors .
		 []))

[2016-09-30 09:39] abingham commented on #360
That's a pretty broad statement. Can you post some output?

[2016-09-30 09:46] moyotar commented on #360
I  found nothing about why python.exe was crashed in ycmd-server. But I found something may caused this from emacs's *Messages* buffer.

REQUEST [error] Callback is not called when stopping process! Explicitly calling from timer.
REQUEST [error] Error (timeout) while connecting to http://127.0.0.1:56880/shutdown. [2 times]
Ycmd server killed
File mode specification error: (error "ERROR: Ycmd serve

[2016-09-30 09:51] abingham commented on #360
This is probably the relevant part of the output:
[code]
See the [ycmd documentation](https://github.com/Valloric/ycmd#exit-codes) for more information.

This seems strange based on your config, though. I assume that the 'python.exe' in D:/appdata/emacs/extraBin/Python27/python.exe is actually python2.7, but ycmd seems to think it's being loaded in python3. I guess you should see if you can sort t

[2016-09-30 09:57] moyotar commented on #360
I agree. I'm troubled with why ycmd thought it was loaded in python3. There's only pyhon2.7 in my machine.

[2016-09-30 09:57] abingham commented on #360
You might open an issue with ycmd to get that sorted out.

On Fri, Sep 30, 2016 at 11:57 AM moyotar <notifications@github.com> wrote:

[2016-10-03 16:42] Alexander-Shukaev opened #361 "Emacs Lisp?"
Hi,

I see that

[code]

has been added.  As a result, after upgrade I keep getting

[code]

I'm not sure about the motivation behind this.  Can I expect semantic completion for Emacs Lisp now or is it a mistake?

[2016-10-03 19:06] ptrv commented on #361
The `ycmd-file-type-map` does not only contain file types with semantic completion. `elisp` has been added because the identifier completion engine of `ycmd` has better support to find Emacs Lisp identifiers.

The error message is from trying to get semantic completion in a mode that does not support it.

[2016-10-03 20:15] Alexander-Shukaev commented on #361
I mean, what should I do now?  How to avoid the error and still use `elisp`?

[2016-10-03 20:28] ptrv commented on #361
To get rid of the message do not perform semantic completion in elisp. Usually in `elisp` this is not happening except when forcing semantic completion. Do you have `ycmd-force-sematic-completion` set to `t`? This would explain the error message of course.

It would help if you could post your `emacs-ycmd` config.

[2016-10-03 20:40] Alexander-Shukaev commented on #361
Nothing fancy:

[code]

As you can see, I never touch `ycmd-force-sematic-completion`, that's why I'm confused.

[2016-10-03 21:31] vheon commented on #361
Those kind of error is "normal". When you ask for completion `ycmd` checks if there is a semantic engine available for the file you're editing. The exception that is logged is actually catched and we fall back to identifier completer. So nothing to worry about.

[2016-10-03 21:34] ptrv commented on #361
@vheon Thanks for clarifying.

[2016-10-03 21:34] #361 closed

[2016-10-03 23:09] Alexander-Shukaev commented on #361
Fine, but it's hard to ignore another error from `*Messages*`

[code]

that comes from `ycmd--event-notification` on certain actions in `emacs-lisp` buffer.  How do I deal with it?

[2016-10-04 22:25] ptrv commented on #361
Can you provide reproduction steps for the error?

What do you mean by "certain actions"?

The error says that the current buffer from the time point when the request was started doesn't exist anymore at the time the actual request is sent.

[2016-10-07 20:01] ptrv commented on #361
The improvements for Emacs Lisp in `ycmd` was just regarding identifier completion. There is still no semantic completion for Emacs Lisp which would provide the `GoTo` functionality.

I would recommend to just disable `ycmd-mode` for `emacs-lisp-mode`. It seems you are using `global-ycmd-mode`, you could set `ycmd-global-modes` variable: `(setq ycmd-global-modes '(not emacs-lisp-mode))`.

To add `

[2016-10-08 01:35] #360 closed

[2016-10-08 11:34] zijianyue opened #363 "ycmd-get-parent doesn't show the return type of function in C"
e.g. : a function like below
int func(int a, short b)
ycmd-get-parent will show func(int, short).
Wish to improve that :)

[2016-10-08 11:38] ptrv commented on #363
We show what `ycmd` server is returning. In your case it's just `func(int, short)`. We cannot do much about it on `emacs-ycmd` side.

You should report this in `ycmd` project.

[2016-10-08 11:38] #363 closed

[2016-10-09 07:43] moyotar opened #364 "Error in company-ycmd.el."
Debugger entered--Lisp error: (file-error "Cannot open load file" "no such file or directory" "f")
  require(f)
  eval-buffer(#<buffer  *load*-665707> nil "d:/Program Files/emacs-config/.emacs.d/el-get/emacs-ycmd/company-ycmd.el" nil t)  ; Reading at buffer position 2320
  load-with-code-conversion("d:/Program Files/emacs-config/.emacs.d/el-get/emacs-ycmd/company-ycmd.el" "d:/Program Files/emacs-c

[2016-10-09 08:33] ptrv commented on #364
The package `f` is missing. You need to install it. It looks like el-get is not installing dependencies properly

[2016-10-09 08:37] moyotar commented on #364
Awesome thanks!

[2016-10-09 08:37] #364 closed

[2016-10-13 07:49] damienrg opened #365 "Ycmd server timeout"
Hi,

There are a lot of issues mentioning 'Ycmd server timeout' but none mention this problem.
After digging it seems that the issue is linked to ~/.ICEauthority. If I remove the file (or use a different HOME to launch emacs) there is no problem.
I do not know how to go further so it would be great if someone could help me.

The different logs:
*ycmd-server*:

*Messages*:

[2016-10-13 21:40] ptrv commented on #365
Does this happen when you set `request-backend` to `'url-retrieve`?

[2016-10-14 05:38] damienrg commented on #365
No, I do not have the problem using url-retrieve just the following message in \*Messages\*:

[2016-10-14 09:43] ptrv commented on #365
You can ignore that message.

[2016-10-16 14:55] bstaletic commented on #217
Macro completion is part of thte semantic completion and to get it suggested one would need to hit C-Space.

[2016-10-19 13:15] damienrg commented on #365
Ok, do you have any hint on how I could find the problem with curl as request-backend?

[2016-10-24 10:38] r4nt opened #369 "Waiting for ycmd to start..."
First:
Using request with curl (does not happen with url-retrieve), if ycmd takes a while to start (on my machine, roughly 3 seconds), we run out of file descriptors, after which point ycmd busy loops and emacs never starts.

There are a couple of questions here:
- should emacs-ycmd really wait for ycmd to start?
- I have no idea whether the curl pipe file descriptor leak problem is in emacs-ycmd

[2016-10-24 10:48] ptrv commented on #369
@r4nt Are you on the latest version of `emacs-ycmd`?

[2016-10-24 10:51] ptrv commented on #369
There should be no requests until `ycmd` server is fully up and able to receive request. This was changed quite recently.

[2016-10-24 11:47] r4nt commented on #369
I just tested with the current commit. Note that the wait-for-server is what is hanging.

[2016-10-24 14:23] ptrv commented on #369
@r4nt Do you mean the function `ycmd--wait-until-server-ready` is hanging?

I tried to repro by adding a 3 seconds sleep to `YcmCorePreload`. In that case `ycmd-startup-timeout` needs to be set to more than 3 seconds which is the default. But I have no issues.

IMHO `emacs-ycmd` should wait for `ycmd` to start because only if the server is up and running you can send file parse or completion reque

[2016-10-24 14:40] r4nt commented on #369
@ptrv - correct, I mean ycmd--wait-until-server-ready. Are you using curl for request or url-retrieve?

I'm also not opposed to emacs-ycmd waiting, just that that waiting blocks emacs startup :)

[2016-10-24 15:26] ptrv commented on #369
Yes, I am using `curl` as backend.

Do you have have `desktop-save-mode` enabled? Do you restore `ycmd-mode` enabled buffers when you start Emacs?

[2016-10-24 15:38] r4nt commented on #369
Ah, this only happens when I start emacs with a C++ file (/me headdesks). I assume starting the mode in the background is not an option... ?

[2016-10-24 16:20] phst commented on #369
FYI, here's a simple way to trigger the issue: Create a fake server `/tmp/ycmd.sh`:

[code]

Then run

[code]

and Emacs will hang (i.e. not react to input events) while the 'server' is starting.

[2016-10-24 17:28] phst commented on #369
Better example. With `/tmp/ycmd.sh` as above, run in the `emacs-ycmd` directory

[code]

It doesn't matter whether /tmp/a.cc actually exists. On the emacs-25 branch this crashes (due to an Emacs bug already fixed in master), on the master branch Emacs hangs and you'll get the error in *Messages*: File mode specification error: (file-error Creating pipe Too many open files)

The crash and the file

[2016-10-24 17:38] phst commented on #369
If you set `request-backend` to `url-retrieve`, the FD leak is gone (to be expected), but the hangs are still there. I don't think Emacs should ever hang when the YCMD server is starting; rather, ycmd should wait asynchronously for the server to start. It's better to have a working Emacs temporarily without completion than a frozen Emacs.

[2016-10-24 18:27] ptrv commented on #369
Waiting for the server (and blocking) to start was always there, this is nothing new. But I agree that it would be better if the YCMD server would start asynchronously and not blocking Emacs.

I'll look into this and try to find a way to start the server in a non-blocking manner.

[2016-10-24 18:43] phst commented on #369
Thanks! Yes, the same issue happens with old versions of emacs-ycmd.

[2016-10-25 07:46] r4nt commented on #369
@ptrv - do you know whether the "too many open files" problem is a ycmd or request.el problem?

[2016-10-25 09:24] ptrv commented on #369
@r4nt I don't know exactly. I need to check the repro mentioned above to get an idea about it. But if this is not happening with `url-retrieve` I would think it is more an issue how the `curl` process is handled by `request.el`. But this is just guessing.

@r4nt @phst I have an experimental branch with async server start here: https://github.com/ptrv/emacs-ycmd/tree/async-server-start

Maybe you c

[2016-10-25 09:28] r4nt commented on #369
@d0k for testing :)

[2016-10-25 09:32] phst commented on #369
I didn't test it thoroughly, but initial testing with the command from https://github.com/abingham/emacs-ycmd/issues/369#issuecomment-255807929 indicates that the hangs are indeed gone. Thanks!

[2016-10-25 09:40] moyotar opened #370 "Can't get c++ semantic completion."
@abingham @ptrv
My flags in `.ycm_extra_conf.py`.

I put it  in `E:\download\P2P-master\P2P-master\P2PDemo`.
And my test project is in `E:\download\P2P-master\P2P-master\P2PDemo\P2PClient`.

In my init-file.

[code]

In a cpp file of this project, in which I included `stdio.h`, I tried to type `sca` and expected `scanf`, but it failed.
There are something different in c file. I created `test.c` in

[2016-10-25 15:51] Yevgnen commented on #286
Thanks for your work. Even though there's no error now, but the `Skip ycmd completion response [4 times]` happens quite often. Especially when the file contains a module needs quite a time to import, e.g.  `tensorflow`.

[code]

The cursor becomes lag as when keep typing, whether the completion is started or not. When the completion is started successfully, the above message keep altering quite of

[2016-10-27 06:10] abingham commented on #370
If you enter "sca" and then run `ycmd-display-completions`, does this show "scanf" in the results?

[2016-10-27 06:36] #369 closed

[2016-10-27 06:44] abingham commented on #370
Which compiler are you using?

[2016-10-27 06:51] moyotar commented on #370
There are `clang` and `clang++`. I don't know which one that `ycmd` use.

[2016-10-27 06:52] abingham commented on #370
You might check [this issue with ycmd](https://github.com/Valloric/YouCompleteMe#completion-doesnt-work-with-the-c-standard-library-headers).

[2016-10-27 12:39] ptrv commented on #365
@damienrg Sorry for my late response. Unfortunately I don't have any suggestions how to find the problem because I don't even know how to reproduce the issue and what exactly is happening here.

[2016-10-28 06:27] abingham opened #374 "GoTo references doesn't seem to work now"
Our `ycmd-goto-references` invokes `(ycmd--goto "GoToReferences")`. However, in the `*ycmd-server*` buffer I see:
[code]

So it appears that `GoToReferences` is no longer supported. I figured ycmd moved that functionality elsewhere or removed it entirely.

[2016-10-28 06:39] abingham commented on #374
Apparently goto-references is only supported for some ycmd backends, and not C++ which I was trying. Oh well.

[2016-10-28 06:39] #374 closed

[2016-10-28 07:53] ptrv commented on #374
Yes `GoToReferences` is only supported in the Python, Javascript and Typescript completers.

[2016-10-28 13:02] ptrv commented on #286
@Yevgnen If the package is big with lots of completion candidates then it can happen that completion takes a while.

We have a mechanism in place  in `company-ycmd` for getting completion synchronously (which blcoks Emacs of course) and if takes longer, then we start an asynchronous completion request which does not block Emacs. The timeout for the synchronous completion request is is 50 milliseco

[2016-10-28 17:28] vheon commented on #374
We have an API to know which subcommands are available for a given engine http://puremourning.github.io/ycmd-1/#path--defined_subcommands. I don't know if you guys were aware about it or if you already use it 😜

[2016-10-29 00:26] ptrv commented on #374
@vheon Thanks for pointing the `defined_commands` API out. I was aware of it but it just was not implemented in `emacs-ycmd`. But I"ll look into how to implement it for `emacs-ycmd`.

[2016-10-29 08:16] abingham commented on #374
@ptrv I figure that users may try calling "goto-*" even if it's not defined for the current mode, so it's probably simplest to just display a message saying something like "Goto XXX not available for the current mode". We may not even need to rely on the `defined_commands` API, instead just looking for failures in the goto command itself.

[2016-10-30 12:11] Yevgnen commented on #286
@ptrv Thanks for your reply. `company-ycmd-request-sync-timeout` is set to `0.1` in the above reply. Setting it to `0` cause the tooltip flashes each time I type a character. And dose not reduce the `Skip ycmd completion response` message.

`company-jedi` also has a slow response in the first time of completion, but gets to normal speed after that.

[2016-10-31 09:42] ptrv commented on #286
The flashing of the popup with async completer is a known issue in `company-mode`, which is also the reason we introduced the hybrid solution to start with a synchronous request and then start an asynchronous request if it takes longer then a specified timeout.

For example, I work on a large C++ code base and have `company-ycmd-request-sync-timeout` always set to `0`.

 And if you type faster tha

[2016-11-01 17:47] harindu95 commented on #348
Finally figure how to do it :smile:
Added this function

(defun split-and-go (file)

  (if (not (string= (prin1-to-string file) (prin1-to-string(buffer-file-name))))
      (split-window-right-and-focus))
  (find-file file)
  )

and changed  ycmd--handle-goto-success to following

(defun ycmd--handle-goto-success (response)
  "Handle a successfull GoTo RESPONSE."
  (let* ((is-vector (vectorp respon

[2016-11-10 09:17] zijianyue opened #379 "error: (wrong-type-argument deferred nil)"
Update to the latest emacs-ycmd,  use it as usual,  got this error, and I got the stack as below, please check it.
[code]

[2016-11-10 09:19] abingham commented on #379
Are you on the most recent ycmd?

[2016-11-11 07:20] windrg opened #380 "Stuck in every 10 minutes"
Hi,
Recently I've found that my Emacs is stuck in every 10 minutes precisely.
When it shows this symptom, there were ycmd messages in *YCMD* that seems to be a sort of keep alive messages.

Can you imagine why ycmd causes Emacs stuck? What could be the solution for this??
Please let me know how to improve this or what I have to do to solve this.

PS. I'm running on Emacs 25.1, Ubuntu 14.04
and her

[2016-11-11 07:54] ptrv commented on #380
Hi,

Thanks for the report.

Could you try to modify this line: https://github.com/abingham/emacs-ycmd/blob/master/ycmd.el#L910
and set `sync` to `nil`

[2016-11-11 08:27] zijianyue commented on #379
yes, I try the latest ycmd server ,and the same. and emacs-deferred-master ,emacs-request-master are all the most recent version

[2016-11-11 08:29] ptrv commented on #379
Can you post the server window output?

[2016-11-12 11:58] ptrv commented on #379
I cannot reproduce this, neither on Mac neither on Linux.

@zijianyue Can you provide some repro steps?

[2016-11-12 11:58] ptrv commented on #380
@windrg Did you try the change from my previous post?

[2016-11-13 06:51] windrg commented on #380
Yes, I did. But it shows the same symptom still.
Here're the output when it is set to nil.

[code]

REQUEST [error] Error (error) while connecting to http://127.0.0.1:47973/healthy.
REQUEST [error] Error (error) while connecting to http://127.0.0.1:47973/event_notification. [2 times]
REQUEST [error] Error (error) while connecting to http://127.0.0.1:47973/completions.
Reverting buffer ‘scsc’.
REQU

[2016-11-13 12:00] abingham commented on #380
@ptrv Are we just not recovering from a server shutdown properly?

[2016-11-13 13:06] ptrv commented on #380
@abingham I am not sure what's going on here. In the latest version of `emacs-ycmd` we do not send requests at all when the server is not running. I tried to simulate a server shutdown due to inactivity by setting the timeouts accordingly. For me after a shutdown I everything is fine (except requests are not sent anymore because the server is not up, but this is by intention)

Also the server log

[2016-11-13 13:41] ptrv commented on #379
Ok, I could repro this when the server is not running and trying to send an async request

[code]

[2016-11-13 14:35] ptrv commented on #379
@zijianyue Could you try out the version from PR #381

[2016-11-14 09:32] zijianyue commented on #379
yes ,this issue is fixed

[2016-11-14 09:32] #379 closed

[2016-11-14 10:59] zijianyue opened #384 "'-Weverything' cause exception"
When I config '-Weverything' in .ycm_extra_conf.py, exception happened, below is the log：

[code]

ps: I'm on win7 x64 ,emacs 25.1 python 2.7.10,
emacs-ymcd
a73aa92098c2aed7a032b8a33ee971270c64d8a1

[2016-11-14 11:08] ptrv commented on #384
This looks rather like an issue in `ycmd` then in `emacs-ycmd`.

Do you have an example which I can use to reproduce the issue?

[2016-11-14 11:22] ptrv commented on #384
@vheon Any thoughts?

[2016-11-14 12:46] vheon commented on #384
Looks like you have an invalid utf8 character in your buffer :confused: What is the encoding of the file? Can you post a minimal reproducible test?

Since this is on windows /cc @micbou

[2016-11-14 12:48] vheon commented on #384
Or rather, I think that since you are using a GBK codepage the `-Weverything` is returning warnings in that codepage and we only support utf8

[2016-11-14 15:16] zijianyue commented on #384
Yes , the file is using a GBK codepage. But I failed to reproduce at home.

[2016-11-15 03:17] #384 closed

[2016-11-17 12:11] windrg commented on #380
@ptrv Here are what I'm using, based on ELPA.

company-ycmd-20161026.2337
flycheck-ycmd-20160913.130
ycmd-20161114.20

Using these w/ the temporal fix you told, it doesn't seem to occur again.
Well, however I'm not so sure as I couldn't have enough time to do tests on that. Let me have some more time on it.
Thanks.

PS : On the canonical version on elpa, it occurs absolutely

[2016-11-17 14:25] moyotar opened #385 "Make client process failed"
`ycmd` was normal at first'. But after using for a time. I got this and had to killed emacs from `cmd.exe`. Then, reopened emacs and it worked.

`open-network-stream: make client process failed: connection refused, :name, 127.0.0.1, :buffer, #<killed buffer>, :host, 127.0.0.1, :service, 5212, :nowait, nil`

[2016-11-17 14:45] moyotar commented on #385
I find it's not easy to reproduce this error. I don't remember how I got it.

[2016-11-17 18:07] ptrv commented on #380
You mean MELPA (https://melpa.org)? The `emacs-ycmd` package is not in Gnu Elpa.

Can you post the the output of `M-x ycmd-version RET`?

[2016-11-17 18:12] ptrv commented on #385
This error shows that you are not using the latest `emacs-ycmd` because we removed a function in 05a029ecdc0566a3030c496d8ff200e3bcbd6140 that could cause an error like this.

Maybe you have a byte-compiled (`.elc` file) loaded instead the current version of `emacs-ycmd`?

Can you post the output of `M-x ycmd-versoin RET`?

I am closing this. Please reopen if you can provide a clear reporduction.

[2016-11-17 18:12] #385 closed

[2016-11-18 02:33] moyotar commented on #385
Thanks! The command `ycmd-version` doesn't not exist. I updated `emacs-ycmd` by `el-get-update` and I will feed back if I meet it again.

[2016-11-18 08:24] windrg commented on #380
@ptrv, here it is.

`emacs-ycmd version: 0.9.2snapshot (package: 20161114.20)`

[2016-11-18 08:26] ptrv commented on #380
@windrg Ok, you're on the latest version. And the issue still exists?

[2016-11-18 08:38] windrg commented on #380
@ptrv, I need more time to do tests. I will give you a feedback soon.

[2016-11-18 08:40] ptrv commented on #380
Ok, no problem.

Anyways, the temporary fix I suggested in the beginning of this thread is already included in the latest version.

[2016-11-20 15:49] ptrv opened #386 "Release version 1.0"
I think we should release a new version.

The last release 0.9 is from January 2015 and it is up on MELPA stable.

@abingham I drafted a release locally. If you don't object I push the changes and make a release here on github.

@abingham Or should we even release 1.0?

[2016-11-21 06:54] abingham commented on #386
I think a new release is definitely in order. Unless you have any API changes you plan to make, then let's go with 1.0!

[2016-11-21 07:51] ptrv commented on #386
Ok, I'll release 1.0. Cool!

[2016-11-21 08:09] #386 closed

[2016-11-21 08:51] liugang opened #387 "latest emacs-request version does not work with files that contain Unicode characters"
`request.el` package is upgrade to latest version, emacs-ycmd not work with files contains Unicode characters, it always prompt *Waring* buffer, to ask you "Select coding system (default raw-text):

[code]
add unicode code to test/resources/test.cpp

[code]

[code]

[code]

I have traced the issue, it was caused by commit tkf/emacs-request@6e039bf

Should  emacs-ycmd do something to fix this issue

[2016-11-21 09:56] ptrv commented on #387
If you could trace down the issue in `request.el` please file a bug there first. And then we see if we need to do something in `emacs-ycmd`

[2016-11-21 11:28] ptrv commented on #387
This issue is only when using `curl` as `request-backend`. Setting it to `url-retrieve` should fix the issue.

I have a PR in `request.el` to fix the issue: https://github.com/tkf/emacs-request/issues/58

[2016-11-21 11:55] windrg commented on #380
it happens again on the version 0.9.2 still.

[2016-11-21 12:04] ptrv commented on #380
We need a clear reproduction for this since I cannot reproduce it.

Can it be that `ycmd` server is idle for a long time and shuts down? The shutdown is a blocking call. So that might block your Emacs?

[2016-11-21 12:20] windrg commented on #380
@ptrv, well. Is there any way to get those logs??

[2016-11-21 12:44] ptrv commented on #380
Can you just save the content of the `*ycmd-server*` buffer? Or what logs do you mean?

[2016-11-21 14:05] ptrv commented on #387
https://github.com/tkf/emacs-request/pull/58 has been merged.

[2016-11-21 14:05] #387 closed

[2016-11-22 01:32] liugang commented on #387
Thanks!

[2016-11-24 14:45] beojan opened #388 "Indicate parsing progress"
Is there any way to indicate progress in parsing the file? At least in spacemacs, something in the powerline would be ideal.

[2016-11-24 15:17] ptrv commented on #388
There is already an indication for parsing in progress. A small star next to the ycmd mode name in the mode-line.

[2016-11-24 15:27] beojan commented on #388
I see. Could it be made more obvious (some form of coloured indicator, rather than a small star)?

[2016-11-24 15:37] ptrv commented on #388
IMHO it is pretty obvious.

I am not sure whether you can have a different color for single characters in the mode-line.

You could develop an external addon package for `emacs-ycmd` like the [flycheck-color-mode-line](https://github.com/flycheck/flycheck-color-mode-line) addon package for `flycheck`.

[2016-11-24 15:37] #388 closed

[2016-11-24 15:39] ptrv commented on #388
Closing because it's out of the scope of this package but could be added to the `contrib` folder in this repo.

[2016-12-05 12:18] amosbird opened #389 "buffer is using the wrong compilation flags."
I'm using `Bear` to generate `compile_commands.json` in a Makefile project. When creating new `cc` files, emacs-ycmd keeps using the old compilation flags. I have to restart emacs to make it right.

i've tried `ycmd-clear-compilation-flag-cache (C-c Y C)`, `ycmd-restart-semantic-server (C-c Y O)` and `ycmd-mode` toggling. None of them works.

[code]

[2016-12-05 14:00] ptrv commented on #389
This issue depends on how you read the `compile_commands.json` file in your `global_conf.py`. The `global_conf.py` get read once when you start the server and probably you read the `compile_commands.json` only when reading the config file. If you add a new file (and changing the `compile_commands.json) you have to start the server because of this.

[2016-12-05 14:32] amosbird commented on #389
hmm, doesn't `ycmd-restart-semantic-server (C-c Y O)` suffice?

[2016-12-05 14:58] ptrv commented on #389
No because that does not trigger a re-read of the config file.

[2016-12-05 15:34] amosbird commented on #389
so what should I do? Is there a better way instead of restarting ycmd? Should we have a command that re-read the config file?

[2016-12-07 07:14] abingham commented on #389
@amosbird Running `ycmd-open` will kill any running server and start a new one. I think that's the closest we've got to a command for re-reading the config file. Does that smooth things out for you a bit?

You might be able to use [`file-notify-add-watch`](https://www.gnu.org/software/emacs/manual/html_node/elisp/File-Notifications.html) to monitor your commands file and restart the server when it

[2016-12-07 07:39] amosbird commented on #389
@abingham no, `ycmd-open` doesn't help here.

[2016-12-07 07:57] abingham commented on #389
That's curious. In the `*ycmd-server*` buffer, do you see the server being stopped and started when you run `ycmd-open`? That's what you should see, and that should (as far as I know) result in a complete re-rereading of your config.

If you don't see the server being restart on `ycmd-open`, perhaps try `ycmd-close` followed by `ycmd-open`. That should not technically be necessary, but perhaps we'

[2016-12-07 08:49] ptrv commented on #389
I am now confused. @amosbird I thought restarting the server helps.

If you want to achieve that a new `compile_commands.json` after adding a file is taken into account you have to add the logic into the `global_conf.py` to detect if the file has been change and then re-read the json file. That is also what the authors of upstream `ycmd` suggested. The proble here is just the implementation og the

[2016-12-07 08:59] amosbird commented on #389
@abingham hmm. `ycmd-open` resets the `*ycmd-serever*` buffer with
[code]

I'm using the default configuration that spacemacs gives.

[2016-12-07 10:47] ptrv commented on #389
@amosbird Looks fine. The server restarted properly.

I quickly looked at the `global_conf.py` from spacemacs and it checks and loads the `compile_command.json` on every call for `FlagsForFile`. I'll have a more thorough look at this and I will try to reproduce this.

However this seems not a general issues with `emacs-ycmd`, more configuration thing.

[2016-12-18 03:45] quicknir opened #390 "Forced semantic, manual, and include files"
I work in a fairly large C++ project. ycmd is awesome and works very well, but it's just not nearly fast enough to give a good experience on as you type completion. So I'm using a trivial completer for as you type completions (dabbrev-code from company). I bind a manual key to trigger ycmd:

[code]

So far, great. However, there are two annoying issues, both related to #includes. I depend on ycmd

[2016-12-19 08:43] ptrv commented on #390
Hi,

Include completion is not part of the semantic completion. If you are trying to complete an include with force semantic enabled it won't work. Enabling force semantic completion always is not really recommended. Why don't you use also the identifier completer from ycmd?

I have also a function that always triggers semantic completion but my "as you type" completion (aka company idle completio

[2016-12-21 04:40] quicknir commented on #390
@ptrv I basically have two options: 1) have ycmd trigger as I type, or 2) make ycmd manual and use a separate identifier based completer. If I make it trigger as I type, then the ycmd identifier completion is fine, but then as soon as I hit `.` or `->` or `::`, it launches into semantic completion. My project is large and there's a noticeable delay, and sometimes I don't need the help because I kn

[2016-12-21 22:07] quicknir commented on #390
@ptrv So there is actually a solution for this. Right now, emacs-ycmd hardcodes auto_trigger 1 on line 1891 of ycmd.el. If I manually set this to 0, this prevents semantic completion from triggering automatically. Despite the description in the docs, at least with company, ycmd continues to function as an identifier based completion engine. So, in this situation I can use ycmd as my first company

[2016-12-21 22:25] quicknir commented on #390
Actually, there needs to be a way to set this per language, maybe make it a buffer local variable? Not sure though...

[2016-12-22 09:01] ptrv commented on #390
PR #391 adds a `defcustom` to be able to set `auto_trigger`. This variable does not make sense to set it as buffer local variable because the `auto_trigger` option is set once for the server at start. Setting this in a different buffer has no effect.

[2016-12-22 15:33] quicknir commented on #390
@ptrv I see. So emacs-ycmd only ever opens one server? So currently there is no way to have auto_trigger say, on for python, but off for C++? Do you think I should try to raise this upstream and suggest making auto_trigger a per-language setting? This restriction seems artificial.

Thanks for your help!

[2016-12-22 15:53] ptrv commented on #390
If the issue is important enough for you, raise it upstream :smile:

IMHO it's an edge case and your personal workflow thing. I personally never thought about using it this way (I also work on a fairly big c++ codebase at work). However, you can also solve it easily with `company-dabbrev` and the function I posted above. But if upstream adds your requested feature I am happy to integrate it in `em

[2016-12-22 15:57] quicknir commented on #390
Yes, that's a fair assessment, and it's a bit of a longshot. Maybe I won't bother raising it. In any case thank you very much for your help on this issue, and more broadly for gifting emacs-ycmd to the world. I use spacemacs + ycmd + rtags to have a really awesome C++ IDE setup and it would not be anywhere near as good without ycmd... so thanks!

[2016-12-22 15:57] #390 closed

[2016-12-26 03:27] zijianyue opened #392 "complete_in_strings does not work in C code"
the default value of complete_in_strings  is 1 in default_settings.json of ycmd server, but it does not work in C code,  for I found company-capf rather than company-ycmd worked when completing in string.
e.g:  complete in a string in "abc "

[2016-12-26 07:59] zijianyue commented on #392
no an issue ,but a limit in company-ycmd .The limit function is company-ycmd--prefix.

[2016-12-26 07:59] #392 closed

[2016-12-26 14:11] ptrv commented on #392
The `default_settings.json` also consists of options which is not used in the server but in client code, like `complete_in_comments` or `complete_in_string`, which is confusing sometimes.

Should we make options for complete in strings or in comments?

/cc @abingham

[2017-01-08 22:02] deb0ch commented on #389
I wrote the `global_conf.py` that Spacemacs currently uses, just let me know if I can be of any help - and I'm always interested to know if there was something wrong with my code :smile_cat:

[2017-01-11 19:35] deb0ch opened #393 "support for /filter_and_sort_candidates server request"
Hi guys,

Is there any past or present reflexion about supporting the `/filter_and_sort_candidates` ycmd server command ?

Apparently it could be useful to get the fuzzy-matching and completion ranking for languages not explicitly supported by `ycmd`.

[2017-01-12 11:54] abingham commented on #393
I haven't looked at that bit of API until now. How do you see it being used? I can see it being useful in principle, but I'm not sure how we'd best integrate it into the current system.

[2017-01-12 13:11] deb0ch commented on #393
It is documented here: http://micbou.github.io/ycmd/#path--filter_and_sort_candidates. Not very easy to find, this is the ONLY documentation of ycmd's API that I have ever found and there isn't even a link to it in the main  docs of ycmd or YouCompleteMe.

This is why I'm asking, you are the one who knows the existing code :smile_cat:

Ofc I am willing to participate in the design / development pr

[2017-01-12 13:23] abingham commented on #393
Interesting! I had the impression is was intended for use with ycmd's identifier-based completion, but they're really providing it for arbitrary sorting of identifiers from any source.

I think it would be fine (and relatively easy) to expose this function to emacs. It doesn't feel to me like part of the "core" ycmd functionality that we expose, so I'm tempted to put it into its own little package

[2017-01-12 13:47] ptrv commented on #393
That's really interesting. AFAIU the result of this request is supposed to be used as input data in an other completion engine/backend.

I think we could add a function like `ycmd-filter-and-sort-candidates` which takes a list of candidates and internally makes a request to `/filter_and_sort_candidates`. Since it is only one function I would not put it in a sepparate package also because to use th

[2017-01-12 13:55] abingham commented on #393
Fair enough. And the name `ycmd-filter-and-sort-candidates` is just right.

Oops, right, I was looking at an old version of the code!

[2017-01-12 14:26] vheon commented on #393
Yes, we use it to support vim's omnifunction. So we get the candidates from one of vim's omnifunction for a language that we don't support natively, send the data to that api which sorts the caididates and returns them. I don't know if emacs has something similar to omnifunctions but I think it does.

Yes, we currently don't have an official API Documentation (that one is actually a draft/experime

[2017-01-12 14:30] deb0ch commented on #393
Yeah, I had lots of trouble figuring things out (even reading the code base) until I randomly found this link, which basically saved my life.

Can't wait to see it released ! (Is it even planned ?)

[2017-01-12 19:40] PythonNut opened #394 "Feature: Automated installation"
It would be really cool if `emacs-ycmd` had a command like `ycmd-install-server`, like `anaconda-mode` and some other completion libraries provide.

Then, instead of specifying `ycmd-server-command` to the location of `ycmd`, we could customize `ycmd-server-dir` and instead specify where `ycmd` should be.

[2017-01-13 07:03] abingham commented on #394
We looked at this briefly in #27, and the conclusion then (based to a degree on [this question](http://emacs.stackexchange.com/questions/2857/proper-approach-to-providing-external-programs-along-with-packages)) was that it was more complicate than it was worth. Maybe the situation has changed now.

Building ycmd is non-trivial, or at least involves tools (e.g. cmake) that not everyone has. So whil

[2017-01-14 12:27] #393 closed

[2017-01-14 14:27] deb0ch commented on #393
Wow, I wasn't expecting such a fast and happy ending, thanks guys ! :thumbsup:

Now, I have to figure out how to integrate it to other completers :smirk_cat:

[2017-01-14 14:33] abingham commented on #393
@ptrv did all of the hard work. I hope it works for you!

[2017-01-14 14:42] deb0ch commented on #393
Will keep you updated when I get to it :smile_cat:

[2017-01-16 05:04] PythonNut commented on #394
@abingham so once I actually tried installing `ycmd`, I realized why this is much more nuanced than, say, `jedi`.

I'm reading from this that there are two important problems:

1. Determining how to install `ycmd` such that the installation won't fail.
2. Detecting and gracefully handling a failed installation, should we fail 1.

Regarding 1., I think it may make the most sense to simply ask the u

[2017-01-16 12:38] r4nt commented on #201
Looping in @d0k. This has come up again.

[2017-01-18 10:02] ptrv commented on #201
@r4nt Could you provide more information about emacs version, emacs-ycmd version etc. and a repro? I would like to look into the issue but I need some reproduction steps because I could not repoduce with my setup.

[2017-01-31 21:44] bacondropped opened #397 ""Ycmd server killed" with newer ycmd"
After upgrading ycmd to the (currently) latest revision 0bc9870, emacs-ycmd refuses to start with the generic "Ycmd server killed"/"Server timeout" messages.

This may be related to the ycmd revision ec4f335. Here's the log message for that revision:

[code]

Downgrading ycmd to revision 96aabdc as a temporary solution works.

[2017-01-31 22:42] ptrv commented on #397
Works for me. The `ycmd` commit you mention only affects the `debug_info` request, which is not used when starting the server.

What is the output in the `*ycmd-server*` window?

[2017-02-01 17:19] bacondropped commented on #397
Empty, no ycmd processes running. I'll try to reproduce on a pure install (because I'm running spacemacs, and, well, you know, variables aplenty). Probably a misconfiguration (or a bug in a different component, it may have happened after a package update).

[2017-02-01 19:09] abingham commented on #397
Yeah, I'd check `*Messages*` and, if possible, `*ycmd-server*` for clues. I'm on spacemacs as well, and sometimes dependencies get out of whack.

[2017-02-02 17:47] bacondropped commented on #397
There was nothing there to shed any light on the nature of the problem, alas. The only ycmd-related messages were "server timeout" and "server killed" in Messages.

Anyway, false alarm. I nuked `elpa`, reinstalled everything, and it started working again. I swear, doing this with spacemacs every other day is exhausting.

[2017-02-02 17:47] #397 closed

[2017-02-02 18:03] ptrv commented on #397
I'm glad you could solve the issue. Happy completing!

[2017-02-10 08:34] VonFry opened #398 "It seems that ycmd cannot working with ternjs."
I'm a new from emacs. I used vim for some years. And I can use youcompleteme to complete with javascript with ternjs.
But this thing cannot be run in emacs-ycmd.
If I open a file named `test.js`, ycmd shows red underline with the code and nothing can be completed (I'm sure the reason from ycmd. I tried remove emacs-ycmd and the red underline is disappeared.)
One of the pictures is MacVim, the othe

[2017-02-10 08:55] abingham commented on #398
What are the contents of your `*ycmd-server*` buffer?

Also are you sure you're in `ycmd-mode` at all? Some configurations (e.g. possibly spacemacs right now, though I'm not 100% sure) don't put emacs into `ycmd-mode` for javascript files.

[2017-02-10 09:03] VonFry commented on #398
Uh...I use global-ycmd-mode.
The content in `*ycmd-server*` buffer is here:
[code]

It can find the `.tern-project`, but I think it isn't run.

If there is no solution, I can ban it in js file and use other tools.

[2017-02-10 09:10] abingham commented on #398
If you put your cursor at the point where you want to do completion and then run `M-x ycmd-display-completions`, you should get another buffer containing the raw completion data. Can you post this?

[2017-02-10 09:12] VonFry commented on #398
[code]

[2017-02-10 09:13] abingham commented on #398
This means that ycmd is producing results, and that emacs-ycmd is able to fetch them. The problem probably lies in company and/or company-ycmd. Let me look into that...

[2017-02-10 09:14] VonFry commented on #398
thx

[2017-02-10 11:06] abingham commented on #398
I can't find any problem with `company-ycmd`. It works fine for me, so my guess is that you've got a configuration issue. I know that's not the most comforting news, though! Perhaps you can take a look at [my spacemacs configuration](https://github.com/abingham/spacemacs-layers) and see what you might be missing.

[2017-02-10 11:07] VonFry commented on #398
Thx. I'll check it again.

[2017-02-10 11:07] #398 closed

[2017-02-13 15:03] amosbird opened #399 "Emacs freezes when inside large c++ project."
`C-g` resumes emacs, but after 5-10 seconds it freezes again. ` toggle-debug-on-error` is enabled, however backtrace is not printed. Disable `ycmd` mode and this problem is gone.

[2017-02-13 15:07] ptrv commented on #399
Do you have `ycmd-eldoc` enabled?

[2017-02-13 15:09] amosbird commented on #399
@ptrv um, how can I tell ? Here are all my minor modes, ![](https://ptpb.pw/XHc1.jpg)

[2017-02-13 15:29] ptrv commented on #399
In a c++ file in that large project do: `M-x describe-variable RET eldoc-documentation-function RET` and post the value of that variable.

[2017-02-13 15:32] amosbird commented on #399
The text output messes up the clipboard. Here is the picture output ![](https://ptpb.pw/t1FJ.jpg)

[2017-02-13 15:40] ptrv commented on #399
Ok, `ycmd-eldoc` is enabled. It probably causes the freeze/hang because it does a synchronous ycmd request, which can take longer in a large c++ project. I recommend to disable it in `c++-mode`.

[2017-02-13 15:47] amosbird commented on #399
Oh, what is the correct way to disable it?

[2017-02-13 16:10] amosbird commented on #399
Ah, got it. `  (remove-hook 'ycmd-mode-hook 'ycmd-eldoc-setup)`

[2017-02-13 16:10] #399 closed

[2017-02-13 21:51] jojojames opened #400 "this. completion in csharp mode"
Used backend: (company-ycmd :with company-yasnippet company-dabbrev-code)

Prefix: ("" . t)

Completions: none

Typing "this." gets the above.

[2017-02-14 07:48] abingham commented on #400
Do you mean that, when you type `this.` in some context where you expect completion, you get no completions? And what do you mean by "Prefix: ("" . t)".

A few things to check:

1. What are the contents of your `*ycmd-server*` buffer?
2. Are you sure you're in `ycmd-mode`?
3. Are you sure you're in `company-mode`?
4. Do you have ycmd and omnisharp-server installed properly?

[2017-02-14 19:27] jojojames commented on #400
[code]

[code]

Built off master

https://github.com/jojojames/ycmd

Do you mean that, when you type this. in some context where you expect completion, you get no completions? And what do you mean by "Prefix: ("" . t)".

- Yep, I type "this." inside a function inside a class (I'd expect it to be able to complete instance variables/properties).

A few things to check:

    What are the contents of

[2017-02-14 21:06] ptrv commented on #400
Looking at the server log, it looks like there is a problem with the server connection to the omnisharp server.

I have no experience with csharp, but I tried out a test project from the `ycmd` folder (`ycmd/ycmd/tests/cs/testdata/testy`). After opening a file from the project I was able to get semantic completion, out of the box.

There is a similar issue in the YouCompleteMe project: https://git

[2017-02-14 22:15] jojojames commented on #400
Thanks, I put a comment in that issue. Will close this one and track that one instead.

[2017-02-14 22:15] #400 closed

[2017-02-14 23:00] damienrg commented on #140
I use ycmd with compile_commands.json and just I discover that ycmd should complete include statements. I always thought that it was not supported and I used company-c-headers within a "company group backend" to have this feature.
I give a try and I am not able to make it working because when trying to complete "#include <vec" ycmd gives: "RuntimeError: No completions found; errors in the file?"
I

[2017-02-15 07:23] ptrv commented on #140
Include completion should work. `#include <vec` should give you results.

Also `#include "dir/` should complete correctly.

Both cases work for me.

@r4nt Are you still encountering this issue?

[2017-02-15 08:09] abingham commented on #140
@damienrg As @ptrv says, this should work. Can you post your `*ycmd-server*` buffer contents (or at least any parts that might be relevant to this issue)?

[2017-02-15 21:47] damienrg commented on #140
I create a [repository](https://github.com/damienrg/emacs-ycmd-include) to ease testing.
With this configuration I only have the following messages when trying to complete on `#include <vec` :
[code]

[2017-02-15 22:42] ptrv commented on #140
@damienrg  I checked out your test repository and indeed I couldn't complete the `vector` include. I got the same error from the server: `RuntimeError: No completions found; errors in the file?`

Looking at the `debug-info` with `M-x ycmd-show-debug-info RET` I could see that I had no other compile flags than `ycmd/ycmd/clang_includes`.

It looks like `ycmd` doesn't see the standard includes paths

[2017-02-16 11:47] damienrg commented on #140
I will try it but I do not understand why do I need to add includes while completion is working here:
[code]
To complete ycmd must know where vector is.

You reported that completion works in https://github.com/abingham/emacs-ycmd/issues/140#issuecomment-279936063. Are you using a compilation database? If not, have you set include path in your `ycm_extra_conf.py`?

[2017-02-16 12:38] r4nt commented on #140
@d0k apropos, can we enable clang-include-fixer for YCM nowadays without too much hassle?

[2017-02-16 12:49] ptrv commented on #140
@damienrg My default `.ycm_extra_conf.py` also adds the system includes to the ones found in a compilation database. So yes, I am using both like in this conf: https://github.com/abingham/emacs-ycmd/blob/master/test/resources/.ycm_extra_conf.py

[2017-02-16 22:31] damienrg commented on #140
@ptrv Indeed it works if I do the workaround mentioned in the ycmd documentation (I just used your function as it does the job).
Anyhow, it is annoying that we still have to use a workaround for a 4 years old bug.

[2017-02-27 15:21] nicber opened #401 "Ycmd crashes without any error messages."
As it says in the title, I can't get ycmd to work on my projects.

Maybe these lines from the Messages buffer are relevant:
[code]

An interesting fact is that it can be used if I restart it with ycmd-open.

I am using the latest version installed by Spacemacs.

[2017-02-27 15:56] abingham commented on #401
I'm not sure why you might be seeing this, but it seems to be coming from [`select.el`](https://github.com/emacs-mirror/emacs/blob/master/lisp/select.el#L245). Can you use `stack-trace-on-error` or `debug-on-error` to see the context in which this is happening?

[2017-02-27 16:07] nicber commented on #401
It seems to be unrelated.
It happens if I open the file by clicking on it in the home screen. If I press RET it doesn't show up.

[2017-02-27 16:21] abingham commented on #401
So this happens when you start emacs and click on a file from the `*spacemacs*` buffer's "Recent Files" list?

What does the `*ycmd-server*` buffer show?

[2017-02-27 16:25] nicber commented on #401
ycmd crashes no matter how I open the file. If I open it with the mouse the
GUI selection error appears.

The ycmd-server buffer is empty

Il 27/feb/2017 01:21 PM, "abingham" <notifications@github.com> ha scritto:

[2017-02-27 16:36] abingham commented on #401
Hmmm...does `ycmd-show-debug-info` show anything that looks useful?

[2017-02-27 16:39] nicber commented on #401
No debug info available from server

Server is not running

Ycmd Mode is enabled

--------------------

Ycmd version:   1.1snapshot (package: 20170114.445)
Emacs version:  25.1.1
System:         x86_64-w64-mingw32
Window system:  w32

[2017-02-27 20:05] nicber commented on #401
I found a workaround: setting ycmd-startup-timeout to 10 seems to fix the problem.

[2017-02-27 21:35] abingham commented on #401
OK, good, that was kind of thing I was going to suggest you look at next.
Can I go ahead and close this, or do you think there's more to do?

On Mon, Feb 27, 2017 at 8:05 PM nicber <notifications@github.com> wrote:

[2017-02-27 21:47] nicber commented on #401
Maybe the timeout can be longer by default to avoid similar issues?

[2017-02-28 07:44] abingham commented on #401
A longer timeout might be the right way to go, but I don't want to do that until/unless we get more reports of similar problems. Yours is the first that I know of.

What I have done, though, is added some text to the error message printed when a timeout occurs. Now is tells users that that they might need to increase the value of `ycmd-startup-timeout`. Thanks for working with us on this!

[2017-02-28 07:44] #401 closed

[2017-03-09 13:13] Alexander-Shukaev opened #403 "Using a proxy for http..."
Remember #234?  Looks like now we have yet another problem.  After upgrading to the latest, I get this:

[code]

Just a minor point: why there is a space between `error` and `:` (looks bad)?

Anyway, seems like now `$http_proxy` and `$https_proxy` environment variables are checked somewhere.  We should guard against this too via the same or dedicated `defcustom`.

[2017-03-09 14:56] naeloued opened #404 "No response to BufferVisit event and no prompt to load extra configuration."
Hi,

I've found that ymcd server fails to respond to BufferVisit event with specific C++ files (one example [here](http://hevc.kw.bbc.co.uk/git/w/jctvc-hm.git/blob_plain/HEAD:/source/App/TAppDecoder/decmain.cpp)).

However, there is no issue with the code sample below.

[code]
I'm using emacs 25.1.1, Fedora24,  ycmd-20170227.2341 and latest commit of ycmd master branch.

Looking at YCMD log, I've

[2017-03-10 05:51] ptrv commented on #404
I've tried out your example [file](http://hevc.kw.bbc.co.uk/git/w/jctvc-hm.git/blob_plain/HEAD:/source/App/TAppDecoder/decmain.cpp) and the extra configuration and ycmd everything worked fine. There is no includes in the extra configuration so ycmd won't find everything but semantic completion works for some types.

`BufferVisit` does not return anything, so `nil` is correct.

You have to provide

[2017-03-10 05:56] ptrv commented on #403
Is this when using `curl` as request backend? Have you tried to unset those environment variables. Is this also when using `url-retrieve` as request backend?

What are you refering to with

ymcd? or emacs-ycmd? or your OS?

There was no recent work in this area on emacs-ycmd side.

[2017-03-10 08:18] naeloued commented on #404
Thanks for trying to help me. I'll try to give you more details.

Here is my init.el:

[code]

There is 3 files in /home/bugreport:
- The extra configuration file
- The decmain.cpp file.
- ok.cpp file which contains the code sample of my first comment.

I built ycmd (https://github.com/Valloric/ycmd/commit/dd33f885d2e3fd3daaa927b70c730b42215dd61f) using Python 2.7.13

I open decmain.cpp using $ em

[2017-03-10 10:54] naeloued commented on #404
The issue seems related to my proxy configuration. I am using CNTLM and have http_proxy environment variable set to localhost:3128.

When http_proxy is set, ycmd successfully parses ok.cpp file but not decmain.cpp.
When http_proxy is not set, ycmd successfully parses both files.

I added 127.0.0.1 in no_proxy env var and everything now works well.
Maybe it is not a emacs-ycmd bug. Probably related

[2017-03-15 15:10] Alexander-Shukaev commented on #403
Kindly want to apologize for the delay.  Will look into this as time permits.

[2017-03-15 15:13] Alexander-Shukaev commented on #404
It's unlikely `emacs-ycmd` bug.  Nevertheless, `emacs-ycmd` has to be resilient regardless of (broken) environment.  It must guard itself from unintentional and non-transparent usage of environment variables.

[2017-03-17 16:11] Congee commented on #397
Same issue here. ycmd-server just doesn't start. The server works well in vim. Not sure what's going wrong. I'm pretty surprised there is no exceptions printed for me to debug. Is this the elisp way to handle errors?

[2017-03-17 17:57] Congee commented on #358
HI, can you please tell me how to get those init output. My *Message* only outputs "server killed; timeout", not helpful at all.

[2017-03-18 03:28] moyotar commented on #358
@Congee Hi. I got this from `*Messages*`.

[2017-03-18 04:17] Congee commented on #358
@moyotar Thank you. It's weid that my *Message* doesn't show anything about this. Had to debug the emacs-ycmd source code.

[2017-03-21 13:56] abingham opened #405 "Improve diagnostics when ycmd-server process launch fails"
If `ycmd--start-server` fails to launch the ycmd process (e.g. because it's not installed), the current diagnostics in `*Messages*` are far from helpful:

[code]

To improve this we need to be a bit more proactive in catching the error and adding our own text describing what happened. We might use something like this in `ycmd--start-server`:
[code]

Should be easy to get in place.

[2017-03-21 17:20] ptrv commented on #405
Good idea to be more proactive in catching errors.
AFAIK your code snippet would only catch if the program is not found. In ycmd's case the ycmd python module is an argument. In that case I don't get an emacs error and the condition-case would not catch the error. In that case we get an error from python, which is visble in the `*ycmd-server*` buffer.

[2017-03-22 07:16] abingham commented on #405
Yes, you're absolutely right, the snippet I included is pretty narrow. It had taken me a while to track down the source of the problem I was seeing, and I just wanted to make sure I had a record of the problem :)

I'm open to any suggestions or ideas about how we should approach this. I've only got limited experience with elisp error handling, so my ideas might be naive or just wrong. However, I'l

[2017-03-22 07:38] abingham commented on #405
It seems like a critical place for better error reporting is in functions launched by timers (i.e. like the one I initially tracked down). When those report errors, we don't get very useful stack traces, so it would be helpful if they intercepted errors and supplemented them with details about where they come from in our terms. In practical terms, this seems to mean:

- `ycmd--on-idle-change`
- `y

[2017-03-23 11:41] ptrv commented on #405
I was thinking also about handling the errors better within the `ycmd--request` function. But I'm not sure how to implement exactly and whether it will work. I'm not so sure about creating new version of `run-at-time` and `run-with-timer`. I think we should identify the exact places where an error can pop up. My setup was working most of the time and I didn't have too many errors whose sources I c

[2017-03-27 21:15] ptrv opened #407 "Release 1.1"
I think we could release version 1.1. We have a couple of new features and one bugfix.
@abingham What do you think?

[2017-03-28 07:47] abingham commented on #407
Yes, that sounds like a good idea.

On Mon, Mar 27, 2017 at 11:15 PM Peter Vasil <notifications@github.com>
wrote:

[2017-03-28 17:47] amosbird opened #408 "Quickly delete unwanted arguments"
I'm not sure if it is an issue of `emacs-ycmd`.  A completion of python's print function looks like this,
[code]
How can I quickly delete all the unneeded arguments? yasnippet supports `ctrl-d` to delete them one by one.

[2017-03-29 07:36] abingham commented on #408
I think this is actually a question for company-mode. We provide company-mode with details about parameters, default, values, etc., and it manages the actual user interactions, completion, and so forth. You might check with them.

I'm going to close this, but by all means feel free to open it again if it does turn out to be an emacs-ycmd issue.

[2017-03-29 07:36] #408 closed

[2017-03-29 09:39] ptrv commented on #408
I ran also into the issue that I wanted to remove unneeded arguments quickly. Haven't had time to look into.

Another idea is to not insert arguments which have a default value.

[2017-03-29 21:34] ptrv commented on #407
Done

[2017-03-29 21:34] #407 closed

[2017-03-30 05:33] abingham commented on #407
Brilliant, thanks!

[2017-04-03 18:00] randomphrase opened #409 "eldoc error: (void-function nil)"
Hi,

I'm getting this error in the modeline with ycmd-eldoc enabled. Invoking `(funcall eldoc-documentation-function)` manually produces the following error:

    Debugger entered--Lisp error: (void-function nil)
      nil()
      apply(nil nil)
      #[128 "\301\302\300!\"\207" [eldoc-documentation-function apply default-value] 4 "\n\n(fn &rest ARGS)"]()
      apply(#[128 "\301\302\300!\"\207"

[2017-04-04 06:46] abingham commented on #409
@ptrv I think this is your baby. Any idea what's going on? @randomphrase's analysis seems pretty sound at first glance.

[2017-04-04 14:19] ptrv commented on #409
I had a quick look, but I can not reproduce the issue.

@abingham You are using spacemacs, right? Can you reproduce this?

@randomphrase Can you provide more information? In which mode is this issue happening? Which emac version?

[2017-04-04 15:42] randomphrase commented on #409
@ptrv I notice this in c++-mode. I don't know if this occurs in other modes, because this is the only one I use ycmd for. I see this problem on my two main workstations, both running emacs 24.5.1, one on Debian Testing (with the standard ycmd package) and one on Fedora 22 (with ycmd built from source).

If it helps any, my spacemacs init file is [here](https://github.com/randomphrase/dotfiles/blob

[2017-04-04 16:26] ptrv commented on #409
What is the default/globale value of `eldoc-documentation-function` in your Emacs version?
It should be set to`ignore` by default.
Does spacemacs set it to `nil` at some point?
The way we set it in `ycmd-eldoc` is the default way from the documentation:

  (add-function :before-until (local 'eldoc-documentation-function)
                #'foo-mode-eldoc-function)
so that the global documentation f

[2017-04-04 18:26] randomphrase commented on #409
OK, so here's the current value:

     eldoc-documentation-function is a variable defined in `eldoc.el'.
     Its value is #[128 "\300\301^B\"\206^K^@\300\302^B\"\207"
           [apply ycmd-eldoc--documentation-function
                  #[128 "\301\302\300!^B\"\207"
                        [eldoc-documentation-function apply default-value]
                        4 "\n\n(fn &rest ARGS)"]

[2017-04-04 18:44] randomphrase commented on #409
OK this is an emacs version issue. I upgraded to emacs 25 and confirmed that the issue is fixed.

[2017-04-04 19:01] ptrv commented on #409
This is strange. I think I used Emacs 24.5 with `ycmd-eldoc` without problems. But since we are supporting older Emacsen, maybe we should gueard against this error.

[2017-04-04 19:02] ptrv commented on #409
@randomphrase Anyway, I am glad your issue is resolved. And thanks for the report.

[2017-04-04 19:25] randomphrase commented on #409
NP. I'm not sure what the etiquette is here, but given that it's fixed for me, I'll close this issue.

[2017-04-04 19:25] #409 closed

[2017-04-05 06:31] ptrv commented on #409
The default of `eldoc-documentation-function` has been changed in Emacs 25. I tried to reproduce this issue by setting the the value to `nil`, but I still don't get an error.
Amyway I changed now the code to not use `add-function` in #410

[2017-04-19 08:34] ptrv commented on #8
We removed the `auto-complete` file a while ago.

[2017-04-19 08:34] #8 closed

[2017-05-05 05:05] quicknir opened #416 "Performance issues"
I'm using ycmd in quite a large project, where single TU's tend to be rather large as there are many #includes. I have auto completion set to only occur when I hit C-tab, which is bound to this:

[code]

As was suggested here in an earlier issue.

I don't begrudge ycmd taking a moment or two when I manually ask for auto completion. However, even when I don't ask for auto completion, ycmd is consta

[2017-05-05 07:19] abingham commented on #416
`emacs-ycmd` itself should be pretty good about doing its work asynchronously; at least, that's the plan! So my first guess is that the delays are coming from either ycmd-eldoc, flycheck-ycmd, or the company integration stuff. I would start by deactivating each of these in turn to see if one of them is the culprit. I would guess it's sufficient to just turn off `eldoc-mode`, `flycheck-mode`, and `

[2017-05-05 07:25] ptrv commented on #416
Yes, my suggestion would also be to disable `ycmd-eldoc` first, because it's making a completion request for each symbol your cursur is on.

That's not the case anymore. We changed it recently to a async call.

The thing is also that I'm also using `emacs-ycmd` in a quite large c++ project with lots of includes and with the `boost` library, but haven't experienced your particular issue. Since we h

[2017-05-05 07:26] quicknir commented on #416
Nah that's a great first answer, I will give that a shot. I've been suspicious of eldoc-mode in fact, but turning it off didn't seem to actually turn anything off (maybe it's one of those things where it has to be off before the buffer starts). @ptrv Yes I will write back with more details about variables that I have set, maybe I misunderstood one of them.

[2017-05-05 07:28] abingham commented on #416
Ah, right, sorry about that!

[2017-05-05 09:14] quicknir commented on #416
Things I've changed that have even the tiniest chance to be related:

[code]

That should be it, I think. In what version of ycmd was this fixed? I'm running ycmd-20161222.1039.

[2017-05-05 10:00] ptrv commented on #416
Your version is quite old. Please try out the latest versions of all ycmd packages.

[2017-05-05 10:55] ptrv commented on #416
This is sending a blocking completion request and blocks up to 1 second and if completion takes longer the blocking request is dismissed and another non-blocking is sent. For large project I recommend to set it to 0, so you only have an async request for completion.

Also set `ycmd-idle-change-delay` to a higher number so, you don't have many file parse requests. Actually since one of the last com

[2017-05-05 15:43] quicknir commented on #416
I've upgraded, I didn't have much time to test before I left work (Sing time), Monday I'll either close this or update with more information.

@ptrv Yes, but based on the name I'm assuming this timeout is used only for company, and not for flycheck or eldoc? The thing is, I only use ycmd's completer manually, I have simple identifier based completion for automatic. So if I hit the auto completion

[2017-05-07 07:27] abingham commented on #416
The `ycmd-idle-change-delay` is the important variable here, I think. `flycheck-idle-change-delay` should never trigger a re-parse. `flycheck-ycmd` is passive in the sense that it only receives parse results when `ycmd` has some to offer. So the `ycmd-parse-conditions` and related control variable are the ones to worry about in your case, I think.

[2017-05-08 02:48] zijianyue opened #419 "In C , ycmd-eldoc--info-at-point always uses the cache(if exist) when the cursor is in the same function no matter which param I put the cursor at"
[code]

But the right result is that different param has different eldoc I think.

[2017-05-08 03:22] quicknir commented on #416
So far it seems the perf is better, thanks for pointing me towards updating. However, my company completion is no longer occurring synchronously. So what is happening now is that I type some variable out quickly and hit C-<tab>, and it immediately responds with "No completion found". So I end up having to hit C-<tab> a couple more times (waiting briefly each time) so I can get the completion as so

[2017-05-08 07:31] ptrv commented on #419
Yes, this is by design. When your cursor is on a function between the parentheses, we show the info for the function and not for the params. `ycmd-eldoc--with-point-at-func-name` jumps back to the function name to get the symbol for the function.

if your cursor is at the `2`: `foo(1, 2|)` we shot the info  for foo. (`ycmd-eldoc--with-point-at-func-name` makes the cursor jump backt to `foo|(1, 2)`

[2017-05-08 07:31] #419 closed

[2017-05-08 08:18] abingham commented on #416
I don't have a C++ project big enough to trigger what you're seeing, but it looks like company is what produces that message. I guess that it immediately realizes that it doesn't have a completion for, prints that message, and returns back to ycmd. So the timeout you've got is short-circuited: since company isn't waiting for results, then it's effectively ignored.

With that said, since I can't re

[2017-05-08 09:43] ptrv commented on #416
@quicknir Can you disable `ycmd-eldoc` and see if it works again as it used to. It might be that completion request are interfering because `ycmd-eldoc` sends out a completion request asynchronously and the you try to complete synchronously.

[2017-05-08 10:20] quicknir commented on #416
@ptrv Very nice catch. Indeed it is exactly as you say. I guess the question then: is there an easy way of changing this behavior?

[2017-05-08 10:34] ptrv commented on #416
Ok, thanks for testing. I have to think about it and find a solution to manage the completion requests better for `company` and `eldoc` so that they don't interfere.

[2017-05-08 10:36] quicknir commented on #416
@ptrv Alright, cool, thanks for your help. If it helps, I can close this issue and open a new one where I have a more appropriate title and concise summary. Cheers.

[2017-05-08 11:00] ptrv commented on #416
Would be great, thanks.

[2017-05-08 11:09] quicknir opened #420 "Async eldoc interferes with sync company"
In the past, ycmd-eldoc made sync calls to the ycmd server, which caused performance issues as discussed in #416. Work in the last 6 months upgraded ycmd-eldoc to make async calls, resolving the performance issue. However, it now seems to be the case that if an async ycmd-eldoc request is active, synchronous company-ycmd requests do not behave as desired.

In particular, if `company-ycmd-request-s

[2017-05-08 11:09] #416 closed

[2017-05-14 16:47] ptrv commented on #338
@abingham

At  YCM and ycmd they have now a self hosted Homu instance and @Valloric would be so kind to add `emcas-ycmd` to this instance so we have also an integration bot.
We therefore would need to add @zzbot as collaborator to this repo for push rights.
Quote from @Valloric

which you may not be comfortable with

What do you think?

[2017-05-14 17:06] abingham commented on #338
I'm perfectly fine with @zzbot having push rights, esp. if it gives us a nice auto-merge workflow.

[2017-05-15 06:31] abingham commented on #338
This all seems to work now :)

[2017-05-15 06:31] #338 closed

[2017-05-15 22:47] quicknir opened #425 "Possible breakage; ycmd-deferred:timeout"
I updated all packages just a couple of days ago on my other machine and everything was working fine. Today, same setup on another machine and I'm getting the following error while trying to complete using company-ycmd:

Company: backend company-ycmd error "Invalid function: ycmd-deferred:timeout" with args (candidates )

I see that my ycmd is from 20170514, i..e yesterday, so I wonder if it is po

[2017-05-15 23:07] ptrv commented on #425
Which version is `company-ycmd`. Should also be 20170514.

[2017-05-15 23:08] quicknir commented on #425
It is.

[2017-05-15 23:08] ptrv commented on #425
which emacs version?

[2017-05-15 23:09] quicknir commented on #425
25.1.1

[2017-05-15 23:09] quicknir commented on #425
It is possible that something got corrupted, I could try to clear the cache and re-download.

[2017-05-15 23:10] ptrv commented on #425
yes please, try to clear and re-download

[2017-05-15 23:11] quicknir commented on #425
Strange, works now. My apologies I should have tried that before bothering you.

[2017-05-15 23:11] #425 closed

[2017-05-15 23:12] ptrv commented on #425
Ok, I am glad it works again.

[2017-05-18 10:24] noxdafox opened #426 "ERROR: Invalid function: ycmd-deferred:timeout"
Recent update of emacs-ycmd broke Company completion.

[code]

To be sure, I updated ycmd code to its last revision as well. The issue is still present.

ycmd-server logs don't show anything suspicious.

[2017-05-18 10:35] noxdafox commented on #426
I suspect this is the commit which broke: https://github.com/abingham/emacs-ycmd/commit/091a873899a64b0f7ba8730ff05c2e9db0e889d2

[2017-05-18 10:43] ptrv commented on #426
@noxdafox Can you please try to remove you company-ycmd folder and reinstall?

See: https://github.com/abingham/emacs-ycmd/issues/425

[2017-05-18 10:59] noxdafox commented on #426
That solved my problem but now it seems semantic completion behaves different (on Python).

Parameters are not expanded anymore.

[2017-05-18 11:06] #426 closed

[2017-05-18 11:50] ptrv commented on #426
I think the problem is that `company-ycmd` and `ycmd` was outdated and `package.el` updated `company-ycmd` before `ycmd` and byte-compiled it with the not yet defined `ycmd-deferred:timeout` macro.

[2017-05-18 12:10] noxdafox commented on #426
Yes it probably is the issue. Maybe converting ycmd-deferred to an actual function?

[2017-05-31 08:34] noxdafox opened #428 "Ycmd wrong command 'GetType'"
Every time I load a new Python file I get this error in the log.

It seems ycmd is sending a wrong command to the server.

[code]

`ycmd` and `emacs-ycmd` are up to date.

[2017-05-31 09:26] ptrv commented on #428
The error is probably from `ycmd-eldoc`, you have it enabled right? Don't worry about it. It's normal. `ycmd-eldoc` is sending a `GetType` request if a completion request is not returning any information and if the filetype completer does not support `GetType`, like python we disable the `GetType` request for that buffer. But get this error once for a buffer. We could ask the server if `GetType` i

[2017-05-31 10:04] noxdafox commented on #428
Yes I have it enabled.

I started investigating this issue because all of a sudden I stopped getting parameters completion on `ycmd`. It used to complete a function altogether with its parameters and now the only thing it reports is the function name.

I can't really wrap my mind about this issue.

Also using `C-h` in company completion shows a `no documentation available` message in the minibuffe

[2017-06-01 16:28] asdyjd opened #429 "Ycmd server is not running. Can’t send ‘semantic_completion_available’ request!"
ENV:
win10 x64, emacs 25, python3.6.1 64bit(anaconda), and latest ycmd successfuly built under visual studio 2017.
problem:
In emacs c++-mode, whatevet I type, it hints me ```Ycmd server is not running. Can’t send ‘semantic_completion_available’ request!```
*ycmd-buffer* show ```2017-06-01 20:21:29,995 - DEBUG - Global extra conf not loaded or no function YcmCorePreload```
And it's set like this:

[2017-06-02 08:16] abingham commented on #429
There's [a note in the README](https://github.com/abingham/emacs-ycmd#important-unbuffered-output-on-windows) that might be relevant. Try putting `-u` in your `ycmd-server-command`:
[code]

[2017-06-02 10:59] asdyjd commented on #429
It doesn't for me.

[2017-06-02 11:09] abingham commented on #429
What does `ycmd-show-debug-info` show you?

[2017-06-02 11:19] abingham commented on #429
Is that literally all that appears in your `*ycmd-server*` buffer? If so, then the problem is related to buffer flushing. The server is supposed to print a line that says "serving on http://127.0.0.1:<port>". If we don't see that, then we don't know on which port the server is running.

Are you absolutely sure that you a) properly changed the server command and b) restarted ycmd? You can use `ycmd

[2017-06-02 12:47] ptrv commented on #429
It seems that the server started successfully but we could not parse the port from the server output because there is only the first line in the server buffer

[2017-06-02 12:49] ptrv commented on #429
`ycmd-show-debug-info` won't work because it sends also a request which won't work without port

[2017-06-02 14:03] asdyjd commented on #429
`ycmd-show-debug-info`
[code]

[2017-06-02 14:20] asdyjd commented on #429
I run command `ycmd-open`,`ycmd-buffer`show:
[code]
It's weird.I am sure I compiled it with python3.
I installed python3 and python2 on my computer, and the environment viarables is set to that python3 is
in front of python2.
I did a test, I rename the python3 directory.So in this way I launched emacs with python2.In c++-mode, whatever I type, emacs was always stuck.And I have to type `C-g` to rec

[2017-06-02 15:37] drott commented on #425
I faced the same probably, and it started working after updating company-ycmd and ycmd, then removing all precompiled *ycmd*.elc files.

[2017-06-02 16:17] abingham commented on #429
Could you post the `ycmd-show-debug-info` now? It may not show anything, but I'd like to get the easy stuff out of the way.

[2017-06-03 23:02] asdyjd commented on #429
I compiled it in python3.And in python3 with emacs,there is a dialog box pop up.
[code]
`ycmd-show-debug-info`
[code]
`ycmd-server buffer`:
[code]

I compiled it with python2.
`ycmd-server` show
[code]
`ycmd-show-debug-info` is stuck.

[2017-06-05 07:20] amosbird opened #430 "make ycmd use projectile root directory as current working directory"
Hi, is there a way to make ycmd use projectile root directory as current working directory? This would ease manual crafting of ycmd flags with relative include search paths.

[2017-06-05 09:01] #430 closed

[2017-06-05 14:29] abingham commented on #430
Did you figure out how to do what you wanted?

[2017-06-05 14:31] amosbird commented on #430
@abingham well, I think adjusting ycmd_conf.py will do. That's not an emacs-ycmd issue though :smile:

[2017-06-05 15:26] abingham commented on #430
Cool, I was thinking something like that might work. I'm glad you got it sorted!

[2017-06-05 21:43] ptrv commented on #428
@noxdafox Regarding parameter completion in python see #431

ycmd (i guess jedi backand) chaged the format for python functions. I missed it since I'm not writing much python at the moment.

[2017-06-06 07:59] abingham commented on #429
I have to admit, I'm not sure what's going on here. My best guess is that you're either mis-compiling ycmd or your Python environment is messed up.

[2017-06-06 10:35] asdyjd commented on #429
As you remind me my python env is messed up.I delete whole anaconda2, and reinstall Anaconda3,recompile ycmd.
And things get a little different.
`ycmd-server buffer`:
[code]
`ycmd-debug-show-info`:
[code]

[2017-06-06 10:36] asdyjd commented on #429
I compiled ycmd with `python build.py --all`

[2017-06-06 10:38] ptrv commented on #429
Actually it looks good. The server is running.
But it has no clang support.

Maybe someone from ycmd project has an idea what is going wrong here? @micbou or @Valloric

[2017-06-06 10:49] micbou commented on #429
@asdyjd Could you run the script with only the `--clang-completer` flag:
[code]
and paste its output in [a Gist](https://gist.github.com/)?

[2017-06-06 10:58] asdyjd commented on #429
https://gist.github.com/asdyjd/92f9c4914f68e4bd7bc955df4c969881
I compiled it with `python build.py --clang-completer`
Now this is the case.A dialog pop up,shows:
[code]
emacs message:
[code]
`ycmd-server`:
[code]

[2017-06-06 11:08] micbou commented on #429
Thanks. So, you are experiencing a libclang crash. Could you open an issue on the ycmd repository with a minimal reproducible test case (including the `.cpp` and `.ycm_extra_conf.py` files) that leads to the crash?

[2017-06-08 11:25] #428 closed

[2017-06-09 23:11] dmalyuta opened #432 "Completion type is [ID] and not the actual type"
Consider the following code:
[code]
I trigger completion at the end of `myV` and I get back:
![image](https://user-images.githubusercontent.com/12475811/26997367-fbf7916c-4d2d-11e7-9d17-005382cb7fea.png)

What I think I should see is `myVector -> Eigen::Vector3d` in the completion list. Why is this is not what is displayed? Is it a general bug/problem with my setup?

[2017-06-10 15:24] ptrv commented on #432
It's not a bug!

You're completion result comes from the identifier completer not from the filetype (semantic) completer. You trigger semantic completion after `.`, `->` or `::`.  This is by design. See here: https://github.com/Valloric/ycmd#how-ycmd-works

You can force semantic completion by calling `ycmd-toggle-force-semantic-completion` or having another function for semantic completion and bi

[2017-06-10 15:24] #432 closed

[2017-06-10 15:28] ptrv opened #433 "Release 1.2"
I guess we can release 1.2

[2017-06-12 05:57] abingham commented on #433
Yeah, I think you're right.

[2017-06-14 21:40] ptrv commented on #433
See: https://github.com/abingham/emacs-ycmd/releases/tag/1.2

[2017-06-14 21:40] #433 closed

[2017-06-20 06:15] thisEric opened #435 "emacs-ycmd doesn't work for auto completion"
I installed stable ycmd and emacs-ycmd from melpa-stable (version 1.2 )

I follow the configs:
(require 'ycmd)
(add-hook 'after-init-hook #'global-ycmd-mode)
(set-variable 'ycmd-server-command '("python" "/path/to/ycmd/package"))
(require 'company-ycmd)
(company-ycmd-setup)

I didn't set ycmd-global-config, and have compile_commands.json in the root directory, from ycmd document, it will find this

[2017-06-20 06:36] abingham commented on #435
Hmm...it looks like the server is running. Let's see if we can narrow down the issue.

First, did you install the latest `company-ycmd` as well? It's a separate package from `ycmd`, so perhaps there's a mismatch.

Next, if you run `ycmd-display-completions` at some point where you expect completion, does it show anything? It should dump its results into the `*ycmd-completions*` buffer.

Finally, w

[2017-06-20 07:05] thisEric commented on #435
yes, I have _company-ycmd_ installed and configured.
ycmd-display-completions shows "No completion available"
ycmd-show-debug-info:

Ycmd debug information for buffer ClangIndexer.cpp in c++-mode:
No debug info available from server

**Server is running at: 127.0.0.1:41838
Ycmd Mode is enabled
Ycmd version:   1.2
Emacs version:  25.2.1
System:         x86_64-unknown-linux-gnu
Window system:  x**

[2017-06-20 07:07] thisEric commented on #435
another thing, if I have  compile_commands.json in source directory, then I don't need to have any global config file, right ?

[2017-06-20 08:35] abingham commented on #435
Yes, I think that's correct.

[2017-06-20 08:39] abingham commented on #435
Weird! Do you mean that you're ssh'ing into the machine from windows with Putty and running console emacs? Or that you're running emacs on a windows machine and accessing files with tramp/putty?

Are you by any chance using spacemacs? That might be messing with your configuration.

[2017-06-20 09:06] thisEric commented on #435
I am ssh'ing the linux machine with putty and run console emacs, and ycmd works. I don't have emacs installed on windows.
I am trying with GNU emacs, don't have spacemacs, not sure whether it's related with emacs version, since I tried with latest build.

[2017-06-20 13:35] abingham commented on #435
I guess the next thing is to try to pinpoint the error. Can you use `debug-on-error` or `stack-trace-on-error` to see where the failure is happening?

[2017-06-20 22:18] ptrv commented on #435
Also please run `emacs -Q` and evaluate this code:

[code]

and open this file for example and try to complete `/path/to/ycmd/cpp/ycm/Candidate.cpp`. You should be able to complete.

This works on my Fedora 25 system

[2017-06-21 02:02] thisEric commented on #435
@abingham , I tried with debug-on-error enabled, but still failed to complete, and I didn't get more debug info than before, the same error message.

@ptrv , I tried with your config, and the same case with before, completion succeed with putty ssh, but failed with native emacs.
I think I should try to degrade my emacs version and to have a try. BTW the OS I use this CentOS7.3

![screenshot from 2

[2017-06-21 02:11] thisEric commented on #435
@abingham , I tried with debug-on-error enabled, but still failed, and I didn't get more debug info to locate the error point.

@ptrv , I tried with your config, the same issue with before. failed with native emacs, but succeed with putty ssh connection, I attach the snapshot for your reference.
![native_emacs](https://user-images.githubusercontent.com/668994/27363849-6600d5ca-5669-11e7-81fe-9f284

[2017-06-21 09:39] thisEric commented on #435
I tried to degrade emacs version to 24.5, still get the same error.

[2017-06-23 04:25] thisEric commented on #435
@abingham @ptrv , BTW, is there any customization for company or company-ycmd performance?
I only
(setq company-idle-delay 0.1)

but the complete speed is still not as fast as expected, I always need to wait for the candidates show up.
current completion speed is bearable, but it will be very nice if I can improve it more, thanks

[2017-07-03 11:41] vmandela opened #437 "doc: emacs-ycmd requires 127.0.0.1 to be in the NO_PROXY env variable"
At work, emacs-ycmd did not work for me at all till today.  I would always see in the debug logs.

[code]

After looking at https://github.com/abingham/emacs-ycmd/issues/404 , I added 127.0.0.1 to the NO_PROXY and no_proxy environment variables and was able to get emacs-ycmd to work. Please add this information regarding NO_PROXY and no_proxy variable setup to the documentation.

I did not face th

[2017-07-03 11:59] micbou commented on #437
emacs-ycmd could automatically set the `no_proxy` environment variable [like YCM does](https://github.com/Valloric/YouCompleteMe/blob/master/python/ycm/youcompleteme.py#L56-L70).

[2017-07-03 12:21] ptrv commented on #437
I see. Thanks @micbou for the hint. Since we are getting this report from time to time I guess it would be a good idea to set the no proxe environment variable for the `ycmd` communication

[2017-07-03 22:16] ptrv commented on #437
See #438

The PR add the `no_proxy` variable to the envrionment to bypass proxies

[2017-07-10 07:58] abingham commented on #435
Sorry for the late response. I've been on vacation the past week. Hopefully I'm not too jet-lagged right now to help you out!

If you've got `ycmd-force-semantic-completion` set to non-nil then you'll often see noticeable delay. Some people (like me) leave it disabled and have a separate function that temporarily enables forced-semantic-completion, and we bind that function to a separate keybindin

[2017-07-10 08:01] abingham commented on #435
I'm still pretty baffled by what you're seeing. One possibility is that we're somehow failing to parse the server's port. Can you check the value of `ycmd--server-actual-port`?

[2017-07-10 08:03] #437 closed

[2017-07-10 08:40] ptrv commented on #403
@Alexander-Shukaev Can you please check if #438 fixes this issue?

[2017-07-10 08:41] ptrv commented on #404
@naeloued Can you please check if #438 fixes this issue?

[2017-07-10 09:32] naeloued commented on #404
Thanks for fixing this issue. I just checked, it works now with or without no-proxy env. Thanks again.

[2017-07-10 09:32] #404 closed

[2017-07-10 11:08] #403 closed

[2017-07-10 11:08] Alexander-Shukaev commented on #403
@ptrv, you're the best! :+1:

[2017-07-13 22:36] Alexander-Shukaev opened #439 "TRAMP issue in Emacs 26"
Heads up, an issue identical to magit/with-editor#29 detected on Emacs 26:

[code]

because the signature of `tramp-make-tramp-file-name` now accepts `port` at the previous position of `localname`:

[code]

Please, adapt.

[2017-07-13 23:36] ptrv commented on #439
This is not an `emacs-ycmd` issue. We don't use `tramp-make-tramp-file-name`. The error comes from the `request` package. See PR https://github.com/tkf/emacs-request/pull/82

[2017-07-13 23:36] #439 closed

[2017-07-25 01:22] thisEric commented on #435
@abingham , I reinstalled the system and cannot reproduce this issue any more, thanks for your comments, and I close this issue right now.

[2017-07-25 01:22] #435 closed

[2017-07-25 05:52] abingham commented on #435
OK, sorry it took so long, but I'm glad you got things working.

[2017-08-03 12:22] moyotar opened #440 "Why the number of process such as marked in the pic will keep increasing and finally cause an error."
![image](https://user-images.githubusercontent.com/22092607/28921456-9bfe2862-7888-11e7-95f7-dc81f0c71092.png)

[2017-08-03 13:14] abingham commented on #440
Can you provide any more details? For example, do you know if the connections are from emacs to ycmd or from ycmd to one of its sub-servers?

[2017-08-04 02:18] moyotar commented on #440
How to know this? Yesterday, when meeting this error, I tried to know more  about these connections but found nothing more.

[2017-08-04 02:34] moyotar commented on #440
![image](https://user-images.githubusercontent.com/22092607/28951904-55315558-7900-11e7-8546-c83102fa0bcd.png)
Like this. The number of such connections will keep increasing.

[2017-08-04 06:11] abingham commented on #440
What's your value for `request-backend`? One possibility is that request.el is using url.el (e.g. because you don't have curl installed), and whatever network connections it opens are not getting closed. This *might* be because of something emacs-ycmd is doing, but it seems unlikely since this is the first we're hearing about it.

[2017-08-04 13:40] moyotar commented on #440
![image](https://user-images.githubusercontent.com/22092607/28970878-a9690740-795c-11e7-9a31-6de9f7bb2888.png)
Company: An error occurred in auto-begin
Company: backend (company-ycmd company-files company-keywords company-capf company-yasnippet) error "make client process failed: too many open files, :name, 127.0.0.1, :buffer, #<killed buffer>, :host, 127.0.0.1, :service, 51803, :nowait, nil" with

[2017-08-04 13:53] abingham commented on #440
Yeah, I think this might be a bug in url.el. One way to verify this would be to use curl (the default backend for request.el) and see if this problem goes away.

You might also ask on stackoverflow if there are known problems with url.el. windows, and orphaned connections.

[2017-08-04 14:15] ptrv commented on #440
I am using `url-retrieve` as backend on Mac and Linux and I don't have this problem.

@moyotar Which Emacs version do you use?

As @abingham pointed out this could also be a bug in `url.el`

[2017-08-05 10:20] moyotar commented on #440
Sorry for taking a long time to reply.  @ptrv My Emacs version is 24.5.1 on windows 10. @abingham Ok, I will change the request backend to curl and report at once if this problem still exists.

[2017-08-08 15:29] moyotar commented on #440
Similarly,  another error occurs.

![image](https://user-images.githubusercontent.com/22092607/29079964-277128de-7c91-11e7-8642-dc63da23e1cf.png)

![image](https://user-images.githubusercontent.com/22092607/29079874-e89fea46-7c90-11e7-94c9-075984c46f7d.png)

[2017-08-10 07:05] moyotar commented on #440
@abingham @ptrv No matter which backend I choose， It will cause too much process finally.

[2017-08-12 14:18] moyotar opened #442 "It really makes me very troubled."
With `ycmd` running a little time, I met similar error no matter which request backend I chose, `curl` or `url-retrieve`.  Now when meeting this error, I have to kill emacs and reopen it to make it serves normally.

And there are two issues reference for more info about error.

1. #440
2. https://github.com/Valloric/ycmd/issues/619

[2017-08-16 13:41] moyotar commented on #442
@abingham @ptrv Sorry for disturbing you. What's the reason  of this problem? `curl`, `url-retrieve` or `emacs-ycmd` ? Is there a way to solve it now?

[2017-08-16 23:27] abingham commented on #442
I'm sorry, but I really don't know. I don't have a Windows machine on which
to test it, and as far as I know you're the only person experiencing this
problem. I really wish I could help, but I don't know what else I can do
right now.

For what it's worth, I suspect that this is not a problem specific to
emacs-ycmd (though we may be part of the problem somehow).

On Wed, Aug 16, 2017, 08:41 moyotar

[2017-08-19 05:00] #440 closed

[2017-08-23 10:09] moyotar commented on #442
![image](https://user-images.githubusercontent.com/22092607/29610006-7e1df248-882b-11e7-8d15-1d0c3fc25cb9.png)

Thanks! There's a new discovery that I can reproduce the error above with `curl` used. To more accurately, when I use `projectile-kill-buffers` to close current project(`python`), `ycmd `will be closed and buffer `*ycmd-server*` will be killed too. Then,  after I enter an other project(`

[2017-08-23 10:12] moyotar commented on #442
Oh, if I close `ycmd` firstly before using `projectile-kill-buffers`, the error will not take place. I don't know these whether it's helpful.

[2017-08-30 12:51] cobblau opened #443 "ycmd-server can't start up."
I configure my ycmd server as
[code]
where `/home/admin/.emacs.d/elpa/ycmd-20170723.1458/` is the directory ycmd installed.

When I type `M-x  ycmd-open`, emacs shows me the Error Message: `ERROR: Ycmd server timeout. If this happens regularly you may need to increase 'ycmd-startup-timeout'.`

ycmd-server Buffer shows `/usr/bin/python: '/home/admin/.emacs.d/elpa/ycmd-20170723.1458/' is a directory

[2017-08-30 13:27] vheon commented on #443
are you sure is `"python" "/home/admin/.emacs.d/elpa/ycmd-20170723.1458/"` and not `"python" "/home/admin/.emacs.d/elpa/ycmd-20170723.1458/ycmd"`?

[2017-08-30 13:44] ptrv commented on #443
@cobblau Please read the Quickstart section of the Readme: https://github.com/abingham/emacs-ycmd#quickstart
You need to install `ycmd` first and the set `ycmd-server-command` to the `ycmd` path. `emacs-ycmd` does not ship the `ycmd` server.

[2017-08-31 04:19] cobblau commented on #443
@ptrv Thanks! I am a fresher to `emacs-ycmd`, now I finger out that `ycmd server` is a third-party binary lauched by `emacs-ycmd`.
The problem I mentioned above is solved by compling a new `ycmd`, and `ycmd-server-command` informs the directory where `ycmd` server belongs.
close this issue.

[2017-08-31 04:19] #443 closed

[2017-09-07 04:50] shenxs commented on #286
If I set `ycmd-force-semantic-completion` to `t` then  the completion of c++ header wouldn't work any more .Everthing else is fine.
here is my config
[code]
Here is the error
[code]

[2017-09-07 19:15] ptrv commented on #286
@shenxs In `ycmd` there are multiple completers (identifier, filename and semantic) that work together in different contexts. The includes are provided by the filename completer. If you set `ycmd-force-semantic-completion` to `t` you bypass the filename completer and the result is basically what you experience. I would recommend to keep `ycmd-force-semantic-completion` set to `nil` and have a dedi

[2017-09-08 14:58] shenxs commented on #286
@ptrv Thanks it just works .

[2017-09-12 21:50] LindyBalboa opened #444 "How to incorporate semantic trigger/custom syntax completer?"
I'm working on a LaTeX completer for ycmd and it works in vim. I'm slowly attempting to move to emacs and have comanpy/ycmd as part of that setup, but I can't seem to figue this bit out. I get as far as "No semantic completer exists for filetypes ['generic']" when calling ycmd-completer.

I guess at the minimum I somehow need emacs-ycmd to pass ['tex'] to ycmd? Then after that how might I go about

[2017-09-13 06:07] abingham commented on #444
I've pushed up a [new `latext-support` branch](https://github.com/abingham/emacs-ycmd/tree/latex-support) that ought to do (or at least be close to!) what you need.

If ycmd also has "diagnostic" support for latex, you should also look at `ycmd--file-types-with-diagnostics`. You might also want to update `ycmd-keywords-alist` with latex keywords.

I'll help with this as much as I can, but a) I'm a

[2017-09-18 04:15] moyotar opened #445 "How to generate tags file which can be recognized by ycmd using GNU GLOBAL?"
Firstly, through looking up ycmd's varibles about tags, I set `ycmd-tag-files`  to `auto` and the `ycmd-default-tags-file-name` to `GTAGS`(I use `GNU GLOBAL` as tagging system). I found it doesn't work.
Secondly, by viewing the history  issue #150 , I realized it that tags file should be generated with `--fields=+l` option using `ctags`.  So, How to  generate tags file which can be recognized by y

[2017-09-18 06:31] ptrv commented on #445
See here in `YouCompleteMe` [readme](https://github.com/Valloric/YouCompleteMe#the-gycm_collect_identifiers_from_tags_files-option) the only supported format is with `exubarant ctags`.
GNU Global is not supported.

[2017-09-18 06:31] #445 closed

[2017-09-18 08:06] moyotar commented on #445
@ptrv Ok. Just now I used command `ctags -e -R --fields+=l` to generate ‘TAGS’ file, and set `ycmd-default-tags-file-name` to `TAGS`. But finally it didn't collect identifiers from `TAGS`.

[2017-09-18 14:46] ptrv commented on #445
you shouldn't use the `-e` option. That is not supported for `ycmd`. That's why you can leave the default value of `ycmd-default-tags-file-name`

[2017-09-19 02:32] moyotar commented on #445
It seems `tags` file would be turn to `TAGS` automatically

[2017-09-25 13:57] moyotar commented on #445
@ptrv Help me solve this.

[2017-09-27 03:39] moyotar opened #447 "Can't get semantic completion in c++ file."
![image](https://user-images.githubusercontent.com/22092607/30894769-58fbe3ea-a378-11e7-96c3-b0e5fbb7dda8.png)

![image](https://user-images.githubusercontent.com/22092607/30894743-2aa4a748-a378-11e7-87aa-f3ab68fd2f39.png)
![image](https://user-images.githubusercontent.com/22092607/30894755-3f5b443a-a378-11e7-8dc9-a717c0fcb02b.png)

[2017-09-27 05:40] moyotar commented on #447
I rebuild `ycmd` with option `--clang-completer` and found `llvm 4.0.1` will be downloaded to be used. But I have `llvm.5.0` in my machine instead of `llvm 4.0.1`. Is this the reason?

[2017-09-27 05:58] abingham commented on #445
What is reporting this? ycmd, some emacs package, or what?

[2017-09-27 06:00] abingham commented on #447
You'll need to ask the ycmd project.

[2017-09-27 06:00] #447 closed

[2017-09-27 06:32] moyotar commented on #445
How to know the package which report this?

[2017-09-27 06:43] abingham commented on #445
Where are you seeing it? Is ycmd printing it in the *ycmd-server* buffer?

On Wed, Sep 27, 2017 at 8:32 AM moyotar <notifications@github.com> wrote:

[2017-09-27 06:48] moyotar commented on #445
In `*Messages*` buffer.

[2017-09-27 07:37] moyotar commented on #445
@abingham Maybe it doesn't affect `ycmd`. In `*ycmd-server*`, I find nothing about tags file.

[2017-09-27 09:48] ptrv commented on #445
I think the problem is related to the case insensitive file system. If you have both files `tags` and `TAGS` Emacs will always find `TAGS` first, even if you have spacified `tags`. I had the same problem on MacOS with case insensitive file system. So either remove `TAGS` or set a different file name for the tags file for ycmd with the option `ycmd-default-tags-file-name`. How exactly you have to c

[2017-09-27 11:23] moyotar commented on #445
I used `ctags -f "mytags" -R --fields=+l` to generate tags file and set `ycmd-default-tags-file-name` to `mytags`. But, it didn't collect any thing from tags file and had nothing output about tags file.

[2017-09-27 12:11] moyotar commented on #447
@abingham By the reply from [here](https://github.com/Valloric/ycmd/issues/846), It's said that to update the ycmd dependency would be helpful.

[2017-09-27 12:14] ptrv commented on #447
We don't have ycmd as submodule in our repository. So you have to update ycmd.

[2017-09-29 12:28] abingham commented on #389
Can this be closed?

[2017-09-29 12:31] abingham commented on #444
@LindyBalboa Did this help you at all?

[2017-09-29 12:33] amosbird commented on #389
Yeah, it works fine now. Thanks!

[2017-09-29 12:33] #389 closed

[2017-09-29 13:20] abingham commented on #389
Awesome, thanks!

[2017-10-09 08:26] #370 closed

[2017-10-19 09:18] moyotar opened #450 "Does ycmd suport this?"
In `c/c++` mode,  convert `.` to `->` semantically

[2017-10-19 09:19] #442 closed

[2017-10-20 08:30] ptrv commented on #450
Emacs-ycmd does not support this and I think also not in ycmd. Please ask in the ycmd project https://gitter.im/Valloric/ycmd if this can be done.

[2017-10-20 08:30] #450 closed

[2017-10-30 04:16] libre-man opened #451 "Completing with ycmd and company is very slow"
Completing C code with with ycmd and company is very slow. I tried to illustrate it with a gif:
![](https://attach.libremail.nl/KarlMostMikhailMakhno.gif)

I started typing directly after the completion for `call` appeared however it took a long time before the typed letters actually became visible. If I disable `ycmd-mode` I do not have this issue.

I'm using spacemacs.

[2017-10-30 07:04] abingham commented on #451
Do you mean that when `ycmd-mode` is disabled completion works perfectly and with good performance? Or that completion doesn't work at all but editing is fast?

What value do you have for `ycmd-force-semantic-completion`?

[2017-10-30 14:30] libre-man commented on #451
I mean that completion works (but ycmd is not completing, but other sources are) and the performance is good.

I have `ycmd-force-semantic-completion` set to `t` as is recommended by spacemacs. Without it I don't get any completions from `ycmd` it seems.

[2017-10-31 06:33] abingham commented on #451
`ycmd-force-semantic-completion` is probably the issue. For large enough C++ projects, ycmd's delay to get true semantic completion can be substantial, so that's probably what you're running into. What a lot of people (including myself) do is set `ycmd-force-semantic-completion` to `nil` and create a new function for doing semantic completion when we want. You can, of course, make this behavior de

[2017-10-31 11:04] libre-man commented on #451
But it is happening for every file in my case. See the example where the file is 10 lines and input already hangs during completion.

[2017-10-31 12:39] abingham commented on #451
It might help if you post any config files that you think are incident: .ycm_extra_conf.py, any emacs configuration, etc. This kind of completion works just fine on many systems, including spacemacs system (like mine).

[2017-10-31 12:40] ptrv commented on #451
The problem is not the file size, rather ycmd is returning completion for the whole namespace you are including, so basically everything from your includes. Also ycmd uses fuzzy matching for candidates, so it returns candidates not only which start with `call` like in your case but also candidates that contain `c`, `a`, `l`, `l` non-contiguously.

Usually you want semantic completion after a seman

[2017-10-31 12:51] libre-man commented on #451
See the example gif I posted. I only included `stdlib` and `stdio`, that should be doable right? My elisp config for ycmd is:
[code]

I have not added a custom `.ycm_extra_conf.py`, the server also starts with the message `2017-10-31 13:14:22,767 - DEBUG - Global extra conf not loaded or no function YcmCorePreload`.

I would not really mind that completion takes a bit longer (it is annoying though

[2017-10-31 13:04] ptrv commented on #451
@libre-man you can set `company-ycmd-request-sync-timeout` to `0` in order to have async only completion requests in `company-ycmd`

[2017-10-31 13:44] libre-man commented on #451
When setting `company-ycmd-request-sync-timeout` to `0` smaller files work a lot better. However when opening a small project (that does include larger projects such as libcheck) the lag in typing reappears: ![](https://attach.libremail.nl/AbbeyGoldmanChomskyMost.gif).
You can see that the `push` appears very quickly, that is not because I typed it really fast but because of the mentioned lag.

Ab

[2017-10-31 14:26] ptrv commented on #451
Could you please post a small example so we are able to reproduce it?

[2017-10-31 14:43] libre-man commented on #451
Sure, I'll try to do that later tonight.

[2017-11-06 23:19] GradySimon opened #452 "deferred error : (void-function ycmd-semantic-completer-available-p)"
Hey there,

I'm using emacs-ycmd in Spacemacs for C++.

When in a C++ file, every time I move the cursor, I see `deferred error : (void-function ycmd-semantic-completer-available-p)` printed to the mini-buffer. Completion seems to work (though this is the first time I've tried to use emacs-ycmd so I might not be aware of stuff that isn't working), but the constant mini-buffer spam is somewhat anno

[2017-11-07 12:45] ptrv commented on #452
It looks like there some kind of mismatch of the `ycmd.el` file and `ycmd-eldoc.el` file. Maybe one of the byte compiled files are not up to date? Have you tried to reinstall emacs-ycmd?

Also how did you configure emacs-ycmd? You need to provide more input on that?

From the server log it looks like also you are trying to complete in an emacs lisp file, where semantic completion is not available.

[2017-11-10 23:16] quicknir opened #453 "Tiny modeline suggestion"
Using spacemacs, most other minor modes have some kind of nice (often unicode) character to represent being on. Ycmd uses, well, "ycmd" which is quite long and so on. It would be nice to allow the user to more easily customize this. I think this can be done by simply doing:

[code]
I.e. the same as the original code, just with `ycmd-modeline-symbol` replacing "ycmd". `ycmd-modeline-symbol` could b

[2017-11-11 14:29] ptrv commented on #453
See #454

[2017-11-11 16:54] #453 closed

[2017-11-11 17:25] quicknir commented on #453
Wow thanks, that was quick! Just a quick question from the pr: I was surprised, but I guess there is probably a reason, to hard code a space before the customisable variable? I haven't had a chance to try this out and see how it will look.

[2017-11-11 17:32] abingham commented on #453
I think the intent is so that "ycmd" is distinguishable from other modeline elements. But I think I see your point: with a single-character modeline for ycmd we won't want/need that space.

[2017-11-11 18:38] ptrv commented on #453
I think you need the space also in spacemacs with single-character. The macro `spacemacs|diminish` is also always used with the space in the spacemacs config.

[2017-11-11 18:47] quicknir commented on #453
Okay cool I had a feeling. I can't test this now, but if there are any
issues I'll open a new issue. Thanks very much!

On Nov 11, 2017 1:38 PM, "Peter Vasil" <notifications@github.com> wrote:

[2017-11-24 17:19] rennis250 opened #456 "Symbols function definition is void: ycmd-running?"
It seems that the total install went successfully, but ycmd is not running, regardless? Here is the output of ycmd-show-debug-info:

(Note: the ```global_config.py``` is stolen from Spacemacs, but I was having the same problems without including it).

[code]

Thanks and best,
Rob

[2017-11-24 20:25] ptrv commented on #456
It would have helped if you post the backtrace of the error next time.

You have a mismatch of `company-ycmd` and `ycmd` versions.

I geuss the error comes from how `package.el` was installing `ycmd` and `company-ycmd`. The problem is that `company-ycmd` and `ycmd` were outdated and `package.el` updated `company-ycmd` before ycmd and byte-compiled it with the outdated function `ycmd-runnung?` func

[2017-11-24 21:53] rennis250 commented on #456
I'm a very new emacs user (basically 2 days now), so how do I get a backtrace of the error?

I uninstalled both ycmd and company-ycmd. I then reinstalled the latest version of ycmd from MELPA, restarted emacs, and reinstalled the latest version of company-ycmd from MELPA. I still get the same error.

Best,
Rob

[2017-11-24 22:01] rennis250 commented on #456
I did a bit of reading. I set ```debug-on-error```, ```debug-on-quit```, and ```edebug-on-error``` all globally to true, but nothing shows up in the ```*Backtrace*``` buffer. I'm not sure how to do it correctly.

[2017-11-24 23:17] ptrv commented on #456
That's really strange. There is no occurrence of `ycmd-running?` in any `ycmd` code. Maybe you are loading another version or out-dated byte-compiled version of `ycmd`. Or some config is calling that function.

To find out we need the backtrace. To enable that you need to run the function `toggle-debug-on-error` instead of setting the variables to true.

[2017-11-25 03:35] rennis250 commented on #456
It doesn't seem to generate any backtraces. It also seems like that error is gone? It was hard to see before, because I receive many messages of the form: ```HTTPError: 500 Server Error: Internal Server Error for url: http://127.0.0.1::36951/list_completions```. These are appearing even though I set ```url-show-status``` to ```nil``` and ```request-message-level``` to ```-1```. Anyway, I don't see

[2017-11-25 03:51] rennis250 commented on #456
Oh, wait, there is a ```*ycmd-server*``` buffer with more info:

[code]

[2017-11-25 03:53] rennis250 commented on #456
Here's some other info that was in there:

[code]

[2017-11-25 03:54] rennis250 commented on #456
And there was this one other error:

[code]

[2017-11-25 03:56] rennis250 commented on #456
...so, this could be something in ```ycmd``` and not any of the Emacs related code?

Yes, seems so: https://github.com/Valloric/ycmd/issues/849

[2017-11-25 05:17] rennis250 commented on #456
Ok, was able to edit ```racerd``` and it all works now. :)  However, there are now more fixes required to get it to work, aside from what is found in https://github.com/Valloric/ycmd/issues/849. I will document them in the relevant place for the Rust code.

[2017-11-25 10:33] ptrv commented on #456
Ok, I guess the original issue is resolved for you and we can close the issue. It seems the server is running fine, except having issues with the rust subserver.

[2017-11-25 10:33] #456 closed

[2017-12-04 19:20] ashwinravianandan opened #457 "errors and warnings are not reported in windows"
flycheck-ycmd is not reporting warnings on Windows.

[2017-12-04 19:31] ashwinravianandan commented on #457
This is caused by the logic that restricts the warnings from ycmd to the current buffer.  I have submitted a PR that addresses this.
https://github.com/abingham/emacs-ycmd/pull/458

[2017-12-06 04:54] moyotar opened #459 "Is there a way to clean *ycmd-server* buffer?"

[2017-12-08 10:28] abingham commented on #459
There's none right now, but I suppose we could add one. Is this just to make it easier to read? Or are you worried about it getting too big?

[2017-12-11 04:01] moyotar commented on #459
Sorry for response late. For me, there are benefits for both of the results that you mentioned. I read it rarely if `ycmd` works finely.

[2017-12-12 07:19] abingham commented on #459
In it's simplest formulation, this function would essentially be an alias for `erase-buffer`. Do you have an idea of when we should be clearing out the buffer? E.g. when it reaches a certain size, or after a certain amount of time? The hard part of this is not the function itself, but the policy around when it's called.

[2017-12-13 02:25] moyotar commented on #459
I agree. How about to offer the two ways to make it alternative? I think it will satisfy most of us.

[2017-12-13 07:19] abingham commented on #459
Sounds good to me.

[2018-01-10 18:35] justinjk007 opened #460 "I was trying to set the server command making use of an environment variable, but its not working."
Instead of hard-cording the location of the install path, I thought I would make an environment variable **YCMD** and then read from it like this

[code]

evaluating `(expand-file-name "ycmd" (getenv "YCMD"))` returns `"c:/Program Files/ycmd/ycmd"` so I don;t know why this is not working.

The error I am getting is
[code]

[2018-01-11 08:12] abingham commented on #460
Try this:
[code]
Basically, what you're doing right now is putting the list `(expand-file-name "ycmd" (getenv "YCMD"))` inside `ycmd-server-command` without evaluating it. The "backtick quoting" lets you selectively evaluate elements of the list when building it. You can read more about it in [the Emacs documentation](https://www.gnu.org/software/emacs/manual/html_node/elisp/Backquote.html).

If t

[2018-01-11 11:00] justinjk007 commented on #460
Yes this worked thank you very much.
I tried this `(set 'ycmd-server-command `("python" "-u" (,expand-file-name "ycmd" (getenv "YCMD"))))` instead of `(set 'ycmd-server-command `("python" "-u" ,(expand-file-name "ycmd" (getenv "YCMD"))))` before which did not work.

[2018-01-11 11:00] #460 closed

[2018-02-07 01:17] justinjk007 opened #461 "On windows is the ycmd-debug-info supposed to look like this ?"
### The paths looks all messed up and ycmd is not reporting any errors ?

[code]

[2018-02-07 07:48] abingham commented on #461
I have no idea. Most of this output is just directly fetched from ycmd and printed without any modification. You might check with the ycmd project.

But are you saying that emacs-ycmd is not working properly, or are you just concerned about the path formatting?

[2018-02-07 11:13] justinjk007 commented on #461
Well like I said, flycheck is not working at all.

[2018-02-07 12:35] abingham commented on #461
I'm sorry, I think must have missed something. Where did you talk about flycheck?

[2018-02-07 12:37] justinjk007 commented on #461
Well, lol flycheck is reporting the errors so when error checking is not
working , flycheck is not working properly right?

On Feb 7, 2018 7:35 AM, "Austin Bingham" <notifications@github.com> wrote:

[2018-02-07 12:41] justinjk007 commented on #461
There seems to be a pull request and an older issue that is suggesting the same problems as I am having ? I will open an issue at ycmd to see if the paths are supposed to look like that.

[2018-02-07 12:41] #461 closed

[2018-02-07 12:53] justinjk007 commented on #461
Can confirm its definitely working.

[2018-02-11 21:32] dgutov commented on #148
For posterity: in current company-mode master, this problem is not exactly solved, but should only appear when the asynchronous calls complete slower than the user is typing.

Also please follow https://github.com/company-mode/company-mode/issues/337.

BTW @abingham I've never seen the flickering problem appear with synchronous backends. If you show an example, we'll probably be able to fix it.

[2018-02-26 18:47] henriklaxhuber opened #463 "flycheck-ycmd wrong type argument: arrayp, nil"
flycheck-ycmd in a C++ project throws the error "wrong-type-argument arrayp nil". There are no errors in the ycmd log, this appears to be some misconfiguration either in the flycheck-ycmd package or possibly with my machine.
Setting debug-on-error is not very useful as it simply shows flycheck's invocation with nothing specific to ycmd. I am at a bit of a loss as to where to further debug the issu

[2018-02-27 07:31] abingham commented on #463
It sounds like you've got the correct emacs-ycmd versions, but you should also check that you've got the latest flycheck. You probably do, but it's good to verify.

The next thing to verify is that ycmd completion is working at all. A good way to do this is with the `ycmd-display-completions` command. In a C++ buffer, start typing something which you would expect to have some completions. The run

[2018-02-27 12:37] henriklaxhuber commented on #463
Sorry, I should have mentioned that ycmd completion and ycmd eldoc are working fine; the issue is isolated to flycheck-ycmd.

Ycmd debug info shows nothing immediately interesting:
[code]

[2018-02-27 13:24] henriklaxhuber commented on #463
Turns out I was overriding the ycmd checker with `flycheck-clang-tidy`, so the issue was actually unrelated to ycmd but for some reason got triggered by instaling flycheck-ycmd.

[2018-02-27 13:24] #463 closed

[2018-02-27 15:04] abingham commented on #463
That's good, because I was baffled! I'm glad you got it working.

[2018-02-27 17:43] yoacompsci opened #464 "No semantic completer exists for major-mode: ‘c++-mode’"
Hello,
When I hopen .cpp file I get the next error message:

`No semantic completer exists for major-mode: c++-mode`

OS: Windows 10.
Emacs: GNU Emacs 25.3.1 (x86_64-w64-mingw32).

I have downloaded and install ycmd following next procedure:

In my `init.el` file I have included next commands:

`(set-variable 'ycmd-server-command '("python" "-u" "D:/hh_home/.emacs.d/ycmd/ycmd/ycmd"))`
`(set-variab

[2018-02-27 17:54] abingham commented on #464
Do you have an `ycm_extra_conf.py`?

[2018-02-27 17:57] micbou commented on #464
@yoacompsci Your ycmd doesn't have support for C++ because the `--clang-completer` argument was ignored when running the `build.py` script. See issue https://github.com/Valloric/YouCompleteMe/issues/2929. Run the script with the Python executable:
[code]
and try again.

[2018-02-28 22:12] yoacompsci commented on #464
Running the script with the Python executable gets the support for C++.  Solved.
Thanks!

[2018-03-01 06:18] #464 closed

[2018-03-09 15:43] abo-abo opened #465 "Sync version of ycmd-goto"
I'm trying to adapt `ycmd-goto` into my workflow; for this I'd like the following:

- navigate to definition in sync
- if it can't be done, raise an error or return nil

The point is that if I can detect that `ycmd-goto` was unsuccessful, I can forward the request to some other mechanism (like TAGS).

The problem currently is that the request is async, so the return result of `ycmd-goto` doesn't m

[2018-03-10 13:51] abingham commented on #465
`ycmd-goto` returns a deferred object. I bet you can get what you want like this:
[code]
Or whatever. You can learn more at https://github.com/kiwanami/emacs-deferred.

Regarding the greatness or lack thereof of the UX, you'd perhaps be shocked as the whining I get when I make things synchronous. You're the first to complain about too much async behavior. Now that you know about deferred, though,

[2018-03-10 18:47] abo-abo commented on #465
Thanks for the pointer, this code worked for me in the end:

[code]

[2018-03-10 18:47] #465 closed

[2018-04-07 13:59] micbou commented on #429
Right, not recommended has clearly the same meaning as obsolete.

I didn't know there was a default system libclang on Windows. Nice.

[2018-04-10 08:32] SharryXu commented on #429
@micbou You are right. This option is obsolete and the system I am working on is OS X 10.13.4, not Windows, sorry for the confusion.

[2018-04-25 11:57] renewagner opened #466 "better diagnostics when Clang completer returns no completions?"
Hi,

I recently installed emacs-ycmd. Overall, I'm quite impressed! With some files, however, I don't get any semantic completions at all. `*ycmd-server*` then contains:

[code]

Is there any way to diagnose what exactly the clang completer is choking on? Also, why would an error be a problem in the first place? Shouldn't it just ignore errors given that clang was designed to be able to parse code

[2018-04-26 10:54] renewagner commented on #466
The `errors in the file?` message appears to be a red herring. I managed to sort out all compiler warnings and errors clang was reporting when invoked manually on the command line and I'm still seeing the same exceptions in `*ycmd-server`. I've tried both clang 3.8 and 6.0.0.

Thus, I'm leaning towards thinking that this is in fact a problem with ycmd. Before I report an issue there I have a few m

[2018-04-27 06:10] abingham commented on #466
It looks like there's progress being made over on the ycmd issue, so that's good.

We have `ycmd-show-debug-info` which might show something.

There are a few controls you have. One is `ycmd-idle-change-delay`, though this seems unlikely to be related to what you're seeing. There are also the various `company` settings that you can play with. Some people (like me) even disable automatic semantic c

[2018-04-27 13:51] renewagner commented on #466
Thanks for the input! The ycmd issue is resolved now. It was a small but pretty fatal mistake in my `.ycmd_extra_conf.py` code that parses the include search path from `clang` output.

As far as emacs-ycmd is concerned, I think there are two potential improvements so other users won't end up in the same pitfalls:

1. Add a "Troubleshooting" section to the documentation.
  * It should mention that

[2018-04-27 14:40] abingham commented on #466
I'm glad you got up and running!

That's such a good idea that we've had [an open issue](https://github.com/abingham/emacs-ycmd/issues/233) since 2015! I'd love to find time for it, but unfortunately I'm pulled in too many other directions right now.

I'm not sure I follow. I take it that `flycheck-ycmd` would have made your initial problems more apparent, but I don't see how that makes `flycheck`

[2018-04-27 15:05] renewagner commented on #466
How about if I prepare a PR for it? I'd include the above and some of the stuff mentioned in #233. The only thing I'm unsure about is the logging part so I may require some input from you on that one.

Perhaps my wording wasn't perfect. What I meant to say was that ycmd developers simply expect an equivalent of `:YcmDiags` to be present for troubleshooting. flycheck-ycmd provides that. And in some

[2018-04-27 19:31] renewagner opened #467 "Inform the user that completions are not possible until parsing is done"
This originally came up in #466. Currently, ycmd will generate an exception `RuntimeError: Still parsing file, no completions yet.` whenever a semantic completion request is made before the translation unit has been parsed. This is logged in the `*ycmd-server*` buffer but there is no other indication in the regular Emacs UI that this is the reason why no completions are displayed.

It would be nic

[2018-04-27 19:56] renewagner commented on #466
I've tidied up my troubleshooting suggestions and added them as a comment in #233. Let me know if you'd like me to turn that into a PR there. The UI enhancement request is now #467.

I consider this issue resolved and will close it now. Thanks again!

[2018-04-27 19:56] #466 closed

[2018-04-28 07:49] abingham commented on #466
Awesome, thanks! This level of follow-through is a rare thing in open source issue reports :)

I'd be delighted to get a PR for this.

[2018-05-17 16:04] Mafeuser opened #468 "completion problem, which way to go?"
Hi
I'm trying to run ycmd in fairly large project.
Unfortunatelly no luck so far.

I'm running centos7 with llvm.6.0 (compilation from scratch). ycmd (github) emacs-ycmd (elpa repo) are the latest ones.
I've built ycmd BOTH with AND without "--system-libclang".
I'm also running gcc.7.2 from devtoolset-7.

When I'm in some class function member,  and type 'this->' I get no completions, but instead

[2018-05-18 10:51] Mafeuser commented on #468
I've narrowed down the problem to some simple C++14 class. Here it is:

[code]

flags from compile_commands.json for this file look like following:

[code]

thus 'M-x ycmd-show-debug-info' flags are:
[code]
compilation brings the same problem (--gcc-toolchain=/opt/rh/devtoolset-7/root/ flag added by me (without it the problem remains, but then gcc.6.3.1 is chosen and I wanted to avoid it)):
[code]

[2018-05-19 14:57] Mafeuser commented on #468
I've finally removed -resource-dir by modifying ycmd instead.
Anyway, the problem seems to be related to ycmd, not emacs-ycmd, so IMO can be closed.

By the way, thank You very much for providing ycmd to emacs

[2018-05-20 09:06] abingham commented on #468
OK, I'm glad you got this sorted out, and sorry I didn't respond earlier. I'm traveling right now and don't have much time to work on this stuff right now.

[2018-05-20 09:06] #468 closed

[2018-06-18 17:17] aijony commented on #429
I experienced the original issue on my Arch Linux machine, Where `DEBUG - Global extra conf not loaded or no function YcmCorePreload` was the only thing in the `*ycmd-server*` buffer. Adding `-u` to my `ycmd-server-command` fixed it. I created a  pull request #471 to clarify the readme for non-Windows users.

[2018-06-22 15:33] jvillasante opened #472 "Maximum number of diagnostics exceeded."
I keep getting this warning on a compilation unit that otherwise compiles without warnings.
Don't know if this is the right place to ask but is there something that I don't know about this warning?

I'm using defaults with `.ycm_extra_conf.py` from ycmd.

Here's my debug info:
[code]

Also, there are some flags that I'm not setting myself, does ycmd does this by itself?
All of this flags are not a

[2018-06-22 16:39] micbou commented on #472
This means that ycmd found more than 30 diagnostics when parsing the translation unit. This limit is configurable through the `max_diagnostics_to_display` option (a value of `0` means no limit). However, [emacs-ycmd doesn't seem to provide a way to configure this option](https://github.com/abingham/emacs-ycmd/blob/master/ycmd.el#L2112).